<style type="text/css">

    .switcher {
        margin: 0 !important;
    }
    td.value {
        vertical-align: middle !important;
    }

</style>
<div id="block_notice_buy_listing_add_general_settings" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('General Settings'); ?>">
    <?php echo Mage::helper('M2ePro')->__('This Page sets the Rakuten.com details and Magento Store View you want to use for this M2E Pro Listing.'); ?>
</div>

<script type="text/javascript">

    // General for all tabs
    //-----------------------------
    if (typeof M2ePro == 'undefined') {
        M2ePro = {};
        M2ePro.url = {};
        M2ePro.formData = {};
        M2ePro.customData = {};
        M2ePro.text = {};
    }

    M2ePro.url.formSubmit = '<?php echo $this->getUrl('*/*/save', array('id' => $this->getRequest()->getParam('id'))); ?>';
    M2ePro.url.deleteAction = '<?php echo $this->getUrl('*/adminhtml_common_buy_listing/delete', array('id' => $this->getRequest()->getParam('id'))); ?>';
    M2ePro.url.add(<?php echo json_encode(array(
        'adminhtml_common_buy_account/edit' => $this->getUrl('M2ePro/adminhtml_common_buy_account/edit/')
    )); ?>);
    //-----------------------------

</script>

<script type="text/javascript">

    //-----------------------------
    M2ePro.formData.id = '<?php echo $this->getRequest()->getParam('id'); ?>';

    M2ePro.formData.title = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->escapeHtml($this->getData('title'))); ?>';

    M2ePro.text.title_not_unique_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('The specified Title is already used for other Listing. Listing Title must be unique.')); ?>';
    M2ePro.text.wrong_date_time_format_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Invalid date time format string.')); ?>';

    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Buy'); ?>,
        'Ess_M2ePro_Helper_Component'
    );

    Event.observe(window, 'load', function() {
        CommonListingSettingsHandlerObj = new CommonListingSettingsHandler();
        CommonListingSettingsHandlerObj.setConstants('<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Listing'); ?>');

        editForm = new varienForm('edit_form', '<?php echo $this->getValidationUrl(); ?>');
    });
    //-----------------------------

</script>

<div class="entry-edit" id="magento_block_buy_listing_add_general">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('General'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="title"><?php echo Mage::helper('M2ePro')->__('Title'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="title" name="title" value="<?php echo Mage::helper('M2ePro')->__($this->getData('title')); ?>" type="text" class="input-text required-entry M2ePro-listing-title" />
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Create a descriptive and meaningful Title for your M2E Pro Listing.<br/> This is used for reference within M2E Pro and will not appear on your Rakuten.com Listings.'); ?></span>
                        </p>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_buy_listing_buy_settings">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Rakuten.com Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Account'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="min-width: 280px;">
                        <span id="account_label"></span>
                        <?php
                        $accountSelectionDisabled = true;
                        $accountId = $this->getRequest()->getParam('account_id');
                        if($accountId) {
                            echo '<input type="hidden" name="account_id" value="'.$accountId.'" />';
                        } else {
                            $accountId = $this->getData('account_id');
                            $accountSelectionDisabled = false;
                        }
                        ?>
                        <select <?php if($accountSelectionDisabled) echo 'disabled="disabled"' ?> id="account_id" name="account_id" class="required-entry" style="display: none"></select>
                        <p id="account_note" class="note" style="width: 0; height: 0; overflow: hidden">
                            <span><?php echo Mage::helper('M2ePro')->__('This is the user name of your Rakuten.com Account.'); ?></span>
                        </p>
                    </td>
                    <td class="value" <?php if($accountSelectionDisabled) echo 'style="visibility: hidden;"'?>>
                        <?php echo $this->getChildHtml('add_account_button'); ?>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_magento_settings">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Magento Settings'); ?></h4>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <table class="form-list" cellspacing="0" cellpadding="0">
                <tbody>

                <tr>
                    <td class="label" style="vertical-align: middle">
                        <label for="store_id"><?php echo Mage::helper('M2ePro')->__('Magento Store View'); ?>: <span class="required">*</span></label>
                    </td>

                    <td class="value" style="vertical-align: middle">
                        <?php echo $this->getChildHtml('store_switcher'); ?>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Choose the Magento Store View you want to use for this M2E Pro Listing.'); ?></span>
                        </p>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    var accountsList;
    var initAccount = function() {

        var renderAccounts = function (callback) {

            var account_add_btn = $('add_account_button');
            var account_label_el = $('account_label');
            var account_select_el = $('account_id');
            var account_note = $('account_note');

            new Ajax.Request('<?php echo $this->getUrl('*/adminhtml_general/getAccounts', array('component' => Ess_M2ePro_Helper_Component_Buy::NICK)); ?>', {
                method: 'get',
                onSuccess: function(transport) {
                    accountsList = transport.responseText.evalJSON();

                    if (accountsList.length == 0) {
                        account_add_btn.down('span').update('<?php echo Mage::helper('M2ePro')->__('Add'); ?>');
                        account_label_el.update('<?php echo Mage::helper('M2ePro')->__('Account not found, please create it.'); ?>');
                        account_label_el.show();
                        account_select_el.hide();
                        account_note.hide();
                        return;
                    }

                    account_note.show();

                    account_select_el.update();
                    account_select_el.appendChild(new Element('option', {style: 'display: none'}));
                    accountsList.each(function(account) {
                        account_select_el.appendChild(new Element('option', {value: account.id})).insert(account.title);
                    });

                    account_add_btn.down('span').update('<?php echo Mage::helper('M2ePro')->__('Add Another'); ?>');

                    if (accountsList.length == 1) {
                        var account = accountsList.shift();

                        account_select_el.setValue(account.id);

                        var accountLink = M2ePro.url.get('adminhtml_common_buy_account/edit', {'id': account.id});
                        var linkElement = new Element('a', {
                            'href': accountLink,
                            'target': '_blank'
                        }).update(account.title);

                        account_label_el.update(linkElement);

                        account_label_el.show();
                        account_select_el.hide();
                    } else {
                        account_select_el.setValue(accountsList[0].id);

                        account_label_el.hide();
                        account_select_el.show();
                    }
                    account_select_el.simulate('change');

                    callback && callback();
                }
            });
        };

        renderAccounts(function() {
            <?php if ($accountId) {?>
            $('account_id').setValue(<?php echo $accountId; ?>);
            $('account_id').simulate('change');
            <?php } ?>
        });

        $('add_account_button').observe('click', function() {
            var win = window.open('<?php echo $this->getUrl('*/adminhtml_common_buy_account/new',array(
                'close_on_save' => true,
                'wizard' => (bool)$this->getRequest()->getParam('wizard',false)
            )); ?>');

            var intervalId = setInterval(function() {

                if (!win.closed) {
                    return;
                }

                clearInterval(intervalId);

                renderAccounts();

            }, 1000);
        });
    };

    var init = function() {

        initAccount();

    };

    Event.observe(window,'load',init);

</script>