<div id="block_notice_buy_listing_add_selling_settings" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Selling Settings'); ?>">
    <?php echo Mage::helper('M2ePro')->__('
    On this Page you can specify main <strong>Selling Settings</strong> for Rakuten.com Items you are going to sell using
    this M2E Pro Listing.<br/><br/>

    You can provide a settings for Reference ID formatting, appropriate Condition, Condition Note, Gift Wrap, Gift Message
    and also specify Additional Settings - Handling Time and Restock Date.<br/><br/>

    In addition to, in this Section you can select Selling Format Policy that contains Settings connected with forming of
    Price, Quantity etc. and Synchronization Policy that describes Rules of Automatic Synchronization of Magento Product
    and Rakuten.com Item.
'); ?>
</div>

<?php
    /** @var Ess_M2ePro_Helper_Magento_Attribute $magentoAttributeHelper */
    $magentoAttributeHelper = Mage::helper('M2ePro/Magento_Attribute');

    $attributesByInputTypes = array(
        'text_textarea' => $magentoAttributeHelper->filterByInputTypes(
            $this->getData('all_attributes'), array('text', 'textarea')
        ),
    );

    $generalAttributesByInputTypes = array(
        'text' => $magentoAttributeHelper->filterByInputTypes($this->getData('general_attributes'), array('text')),
        'text_price' => $magentoAttributeHelper->filterByInputTypes($this->getData('general_attributes'), array('text', 'price')),
        'text_select' => $magentoAttributeHelper->filterByInputTypes(
            $this->getData('general_attributes'), array('text', 'select')
        ),
    );

    $isEdit = !!$this->getRequest()->getParam('id');
?>

<script type="text/javascript">

    // ie bug fix
    // ---------
    if (Prototype && Prototype.Browser.IE && varienLoaderHandler) {
        var loaderOnCompleteFunction = varienLoaderHandler.handler.onComplete;
        varienLoaderHandler.handler.onComplete = function() {

            loaderOnCompleteFunction();
            $$('select').each(function (el) {
                $(el).style.visibility = 'visible';
            });
        }
    }
    // ---------

    // Data for current tab
    //-----------------------------
    M2ePro.text.condition_note_length_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Must be not more than 2000 characters long.')); ?>';
    M2ePro.text.sku_modification_custom_value_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('%value% placeholder should be specified')); ?>';
    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Buy'); ?>,
        'Ess_M2ePro_Helper_Component'
    );

    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Buy_Listing'); ?>,
        'Ess_M2ePro_Model_Buy_Listing'
    );

    M2ePro.url.addNewSellingFormatTemplate = '<?php echo $this->getUrl('*/adminhtml_common_buy_template_sellingFormat/new'); ?>';
    M2ePro.url.addNewSynchronizationTemplate = '<?php echo $this->getUrl('*/adminhtml_common_buy_template_synchronization/new'); ?>';
    M2ePro.url.editSellingFormatTemplate = '<?php echo $this->getUrl('*/adminhtml_common_buy_template_sellingFormat/edit'); ?>' + 'id/';
    M2ePro.url.getSellingFormatTemplates = '<?php echo $this->getUrl('*/adminhtml_general/modelGetAll',array('model'=>'Template_SellingFormat','id_field'=>'id','data_field'=>'title','sort_field'=>'title','sort_dir'=>'ASC','component_mode'=>Ess_M2ePro_Helper_Component_Buy::NICK)); ?>';
    M2ePro.url.editSynchronizationTemplate = '<?php echo $this->getUrl('*/adminhtml_common_buy_template_synchronization/edit'); ?>' + 'id/';
    M2ePro.url.getSynchronizationTemplates = '<?php echo $this->getUrl('*/adminhtml_general/modelGetAll',array('model'=>'Template_Synchronization','id_field'=>'id','data_field'=>'title','sort_field'=>'title','sort_dir'=>'ASC','component_mode'=>Ess_M2ePro_Helper_Component_Buy::NICK)); ?>';

    M2ePro.autoCompleteData = {
        url : {}
    };
    M2ePro.autoCompleteData.flags = {
        sellingFormatTemplatesDropDown    : <?php echo $this->sellingFormatTemplatesDropDown    ? 'true' : 'false'; ?>,
        synchronizationsTemplatesDropDown : <?php echo $this->synchronizationsTemplatesDropDown ? 'true' : 'false'; ?>
    };
    M2ePro.autoCompleteData.url.getSynchronizationTemplates    = '<?php echo $this->getUrl('*/adminhtml_common_general/searchAutocomplete', array('model' => 'Template_Synchronization', 'component' => Ess_M2ePro_Helper_Component_Buy::NICK)); ?>';

    Event.observe(window, 'load', function() {

        CommonListingSettingsHandlerObj = new CommonListingSettingsHandler();
        CommonListingSettingsHandlerObj.setConstants('<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Listing'); ?>');

        BuyListingChannelSettingsHandlerObj = new CommonBuyListingChannelSettingsHandler();
        BuyListingChannelSettingsHandlerObj.setConstants('<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Buy_Listing'); ?>');

        $('template_selling_format_id').observe('change', function() {
            if ($('template_selling_format_id').value) {
                $('edit_selling_format_template_link').show();
            } else {
                $('edit_selling_format_template_link').hide();
            }
        });
        $('template_selling_format_id').simulate('change');

        $('template_synchronization_id').observe('change', function() {
            if ($('template_synchronization_id').value) {
                $('edit_synchronization_template_link').show();
            } else {
                $('edit_synchronization_template_link').hide();
            }
        });
        $('template_synchronization_id').simulate('change');

        AutoCompleteHandler = new AutoComplete();

        if (M2ePro.autoCompleteData.flags.sellingFormatTemplatesDropDown) {
            $('template_selling_format_id').observe('change', CommonListingSettingsHandlerObj.selling_format_template_id_change)
            if ($('template_selling_format_id').value) {
                $('template_selling_format_id').simulate('change');
            }
        } else {
            AutoCompleteHandler.bind('template_selling_format_autocomplete',
                M2ePro.autoCompleteData.url.getSellingFormatTemplates,
                M2ePro.formData.template_selling_format_id > 0 ? M2ePro.formData.template_selling_format_id : '',
                M2ePro.formData.template_selling_format_title,
                function (id) { $('template_selling_format_id').value = id; $('template_selling_format_id').simulate('change'); }
            );
            $('template_selling_format_id').value = $('template_selling_format_autocomplete').readAttribute('selected_id');
            M2ePro.formData.template_selling_format_id > 0 && $('template_selling_format_autocomplete').setStyle({color: 'initial'});
        }

        if (M2ePro.autoCompleteData.flags.synchronizationsTemplatesDropDown) {
            $('template_synchronization_id').observe('change', CommonListingSettingsHandlerObj.synchronization_template_id_change)
            if ($('template_synchronization_id').value) {
                $('template_synchronization_id').simulate('change');
            }
        } else {
            AutoCompleteHandler.bind('template_synchronization_autocomplete',
                M2ePro.autoCompleteData.url.getSynchronizationTemplates,
                M2ePro.formData.template_synchronization_id > 0 ? M2ePro.formData.template_synchronization_id : '',
                M2ePro.formData.template_synchronization_title,
                function (id) { $('template_synchronization_id').value = id; $('template_synchronization_id').simulate('change'); }
            );
            $('template_synchronization_id').value = $('template_synchronization_autocomplete').readAttribute('selected_id');
            M2ePro.formData.template_synchronization_id > 0 && $('template_synchronization_autocomplete').setStyle({color: 'initial'});
        }

        $('sku_mode').observe('change', BuyListingChannelSettingsHandlerObj.sku_mode_change);

        $('sku_modification_mode')
            .observe('change', BuyListingChannelSettingsHandlerObj.sku_modification_mode_change);

        $('shipping_standard_mode').observe('change', BuyListingChannelSettingsHandlerObj.shipping_standard_mode_change);
        $('shipping_standard_mode').simulate('change');

        $('shipping_expedited_mode').observe('change', BuyListingChannelSettingsHandlerObj.shipping_expedited_mode_change);
        $('shipping_expedited_mode').simulate('change');

        $('shipping_two_day_mode').observe('change', BuyListingChannelSettingsHandlerObj.shipping_two_day_mode_change);
        $('shipping_two_day_mode').simulate('change');

        $('shipping_one_day_mode').observe('change', BuyListingChannelSettingsHandlerObj.shipping_one_day_mode_change);
        $('shipping_one_day_mode').simulate('change');

        $('condition_mode').observe('change', BuyListingChannelSettingsHandlerObj.condition_mode_change);
        $('condition_mode').simulate('change');

        $('condition_note_mode').observe('change', BuyListingChannelSettingsHandlerObj.condition_note_mode_change);
    });
    //-----------------------------

</script>

<div class="entry-edit" id="magento_block_buy_listing_sku_settings">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Reference ID Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="sku_mode"><?php echo Mage::helper('M2ePro')->__('Source') ?>:</label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="sku_custom_attribute" name="sku_custom_attribute" value="<?php echo $this->getData('sku_custom_attribute'); ?>" />

                        <select name="sku_mode" id="sku_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SKU_MODE_PRODUCT_ID ?>" <?php if ($this->getData('sku_mode') == Ess_M2ePro_Model_Buy_Listing::SKU_MODE_PRODUCT_ID) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Product ID') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SKU_MODE_DEFAULT ?>" <?php if ($this->getData('sku_mode') == Ess_M2ePro_Model_Buy_Listing::SKU_MODE_DEFAULT) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Product SKU') ?></option>

                            <optgroup label="Magento Attribute">
                                <?php foreach ($generalAttributesByInputTypes['text'] as $attribute): ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Buy_Listing::SKU_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($this->getData('sku_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                <?php endforeach ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('A unique ID, which identify a Product in your Rakuten.com Seller Inventory.<br/><br/>
                            <b>Note:</b> If you List a Product and M2E Pro find a Product with the same Reference ID in Rakuten.com Inventory, they will be Mapped.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="sku_modification_mode"><?php echo Mage::helper('M2ePro')->__('Modification') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="sku_modification_mode" id="sku_modification_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SKU_MODIFICATION_MODE_NONE; ?>" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Buy_Listing::SKU_MODIFICATION_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('None'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SKU_MODIFICATION_MODE_PREFIX; ?>" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Buy_Listing::SKU_MODIFICATION_MODE_PREFIX) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Prefix'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SKU_MODIFICATION_MODE_POSTFIX; ?>" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Buy_Listing::SKU_MODIFICATION_MODE_POSTFIX) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Postfix'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SKU_MODIFICATION_MODE_TEMPLATE; ?>" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Buy_Listing::SKU_MODIFICATION_MODE_TEMPLATE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Template'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Select one of the available variants to modify Reference ID of Rakuten.com Item that was formed based on the Source you provided.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="sku_modification_custom_value_tr" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Buy_Listing::SKU_MODIFICATION_MODE_NONE): ?>style="display: none;"<?php endif; ?>>
                    <td class="label">
                        <label for="sku_modification_custom_value"><?php echo Mage::helper('M2ePro')->__('Modification Value') ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input type="text" id="sku_modification_custom_value" name="sku_modification_custom_value" class="input-text M2ePro-required-when-visible M2ePro-validate-sku-modification-custom-value" value="<?php echo $this->getData('sku_modification_custom_value'); ?>" />
                    <td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="generate_sku_mode"><?php echo Mage::helper('M2ePro')->__('Generate') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="generate_sku_mode" id="generate_sku_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::GENERATE_SKU_MODE_NO; ?>" <?php if ($this->getData('generate_sku_mode') == Ess_M2ePro_Model_Buy_Listing::GENERATE_SKU_MODE_NO) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('No') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::GENERATE_SKU_MODE_YES ?>" <?php if ($this->getData('generate_sku_mode') == Ess_M2ePro_Model_Buy_Listing::GENERATE_SKU_MODE_YES) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Yes') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('If <strong>Yes</strong>, then if Merchant SKU of the Product you List is found in the 3rd Party, M2E Pro Listings or among the Products that are currently in process of Listing, another SKU will be automatically Created and the Product will be Listed.'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_buy_listing_add_templates">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Policies'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="template_selling_format_id"><?php echo Mage::helper('M2ePro')->__('Selling Format Policy'); ?>: <span class="required">*</span></label>
                    </td>
                    <td id="template_selling_format_cell" class="value">
                        <?php if ($this->sellingFormatTemplatesDropDown): ?>
                            <select id="template_selling_format_id" name="template_selling_format_id" <?php if (!count($this->sellingFormatTemplates)) echo 'style="display: none;"';?> class="required-entry">
                                <?php if (!$this->getData('template_selling_format_id')): ?>
                                    <option class="empty"></option>
                                <?php endif ?>
                                <?php foreach ($this->sellingFormatTemplates as $item) { ?>
                                    <option value="<?php echo $item['id']; ?>" <?php if ($item['id'] == $this->getData('template_selling_format_id')) echo ' selected="selected"'; ?>><?php echo $item['title']; ?></option>
                                <?php } ?>
                            </select>
                            <span id="template_selling_format_label" <?php if (count($this->sellingFormatTemplates)) echo 'style="display: none;"';?>><?php echo Mage::helper('M2ePro')->__('No Policies available.'); ?></span>
                        <?php else: ?>
                            <input type="text" id="template_selling_format_autocomplete" class="input-text" selected_id="" style="width: 275px; color: gray;"
                                   value="<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>"
                                   onblur="if (this.value.trim().length == 0) {
                                       this.value = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>';
                                       this.style.color = 'gray';
                                       }"
                                   onfocus="if (this.value == '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>') {
                                       this.value = '';
                                       this.style.color = '';
                                       }"
                                >
                            <input type="hidden" name="template_selling_format_id" id="template_selling_format_id" class="required-entry" value="" />
                        <?php endif; ?>
                    </td>
                    <td class="value">
                        <span id="edit_selling_format_template_link">
                            <a href="javascript: void(0);" onclick="CommonListingSettingsHandlerObj.openWindow(M2ePro.url.editSellingFormatTemplate+$('template_selling_format_id').value);"><?php echo Mage::helper('M2ePro')->__('View') ?>&nbsp;/&nbsp;<?php echo Mage::helper('M2ePro')->__('Edit') ?></a>
                            <?php echo Mage::helper('M2ePro')->__('or') ?>
                        </span>
                        <a href="javascript: void(0);" onclick="CommonListingSettingsHandlerObj.addNewTemplate(M2ePro.url.addNewSellingFormatTemplate, CommonListingSettingsHandlerObj.newSellingFormatTemplateCallback);"><?php echo Mage::helper('M2ePro')->__('Add New') ?></a>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td id="template_selling_format_messages"></td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="template_synchronization_id"><?php echo Mage::helper('M2ePro')->__('Synchronization Policy'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <?php if ($this->synchronizationsTemplatesDropDown): ?>
                            <select id="template_synchronization_id" name="template_synchronization_id" <?php if (!count($this->synchronizationsTemplates)) echo 'style="display: none;"';?> class="required-entry">
                                <?php if (!$this->getData('template_synchronization_id')): ?>
                                    <option class="empty"></option>
                                <?php endif ?>
                                <?php foreach ($this->synchronizationsTemplates as $item){ ?>
                                    <option value="<?php echo $item['id']; ?>" <?php if ($item['id'] == $this->getData('template_synchronization_id')) echo ' selected="selected"'; ?>><?php echo $item['title']; ?></option>
                                <?php } ?>
                            </select>
                            <span id="template_synchronization_label" <?php if (count($this->synchronizationsTemplates)) echo 'style="display: none;"';?>><?php echo Mage::helper('M2ePro')->__('No Policies available.'); ?></span>
                        <?php else:?>
                            <input type="text" id="template_synchronization_autocomplete" class="input-text" selected_id="" style="width: 275px; color: gray;"
                                   value="<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>"
                                   onblur="if (this.value.trim().length == 0) {
                                       this.value = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>';
                                       this.style.color = 'gray';
                                       }"
                                   onfocus="if (this.value == '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>') {
                                       this.value = '';
                                       this.style.color = '';
                                       }"
                                >
                            <input type="hidden" name="template_synchronization_id" id="template_synchronization_id" class="required-entry" value="" />
                        <?php endif; ?>
                    </td>
                    <td class="value">
                        <span id="edit_synchronization_template_link">
                            <a href="javascript: void(0);" onclick="CommonListingSettingsHandlerObj.openWindow(M2ePro.url.editSynchronizationTemplate+$('template_synchronization_id').value);"><?php echo Mage::helper('M2ePro')->__('View') ?>&nbsp;/&nbsp;<?php echo Mage::helper('M2ePro')->__('Edit') ?></a>
                            <?php echo Mage::helper('M2ePro')->__('or') ?>
                        </span>
                        <a href="javascript: void(0);" onclick="CommonListingSettingsHandlerObj.addNewTemplate(M2ePro.url.addNewSynchronizationTemplate, CommonListingSettingsHandlerObj.newSynchronizationTemplateCallback);"><?php echo Mage::helper('M2ePro')->__('Add New') ?></a>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>

<div class="entry-edit" id="magento_block_buy_listing_channel_shipping_settings">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Shipping Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <div id="block_notice_buy_listing_general_shipping" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Shipping'); ?>">
                <?php echo Mage::helper('M2ePro')->__('This Section determines information about how your Products will be shipped.
                <br/><br/>
                In each method you can choose:
                <ul class="list">
                <li><b>Disable</b> - disables Shipping method.</li>
                <li><b>Free</b> - automatically sets zero value for Shipping Cost.</li>
                <li><b>Rakuten.com Settings</b> - uses Settings, which you have set in your Seller Account Settings on Rakuten.com.</li>
                <li><b>Custom Value</b> - allows Setting Shipping Cost manually.</li>
                <li><b>Custom Attribute</b> - allows Setting Shipping Cost from the chosen Attribute.</li>
                </ul>
                '); ?>
            </div>

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr id="shipping_methods_tr" style="margin-top: 10px;">
                    <td class="grid" colspan="2">

                        <table class="border" cellpadding="0" cellspacing="0">
                            <thead>
                            <tr class="headings">
                                <th style="width: 150px;"><?php echo Mage::helper('M2ePro')->__('Shipping Method'); ?></th>
                                <th style="width: 100px;"><?php echo Mage::helper('M2ePro')->__('Mode'); ?></th>
                                <th style="width: 300px;"><?php echo Mage::helper('M2ePro')->__('Cost'); ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Standard Shipping</td>
                                <td>
                                    <select name="shipping_standard_mode" id="shipping_standard_mode" style="width: 164px;">
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_FREE ?>"<?php if ($this->getData('shipping_standard_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_FREE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Free'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DEFAULT ?>"<?php if ($this->getData('shipping_standard_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DEFAULT) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Rakuten.com Settings'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_VALUE ?>"<?php if ($this->getData('shipping_standard_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_VALUE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Value'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_CUSTOM_ATTRIBUTE ?>"<?php if ($this->getData('shipping_standard_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_CUSTOM_ATTRIBUTE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute'); ?></option>
                                    </select>
                                </td>
                                <td>
                                    <select name="shipping_standard_custom_attribute" id="shipping_standard_custom_attribute" style="width: 300px;" class="M2ePro-required-when-visible">
                                        <?php if ($this->getData('shipping_standard_custom_attribute') == ''): ?>
                                            <option class="empty"></option>
                                        <?php endif; ?>
                                        <?php foreach ($generalAttributesByInputTypes['text_price'] as $attribute): ?>
                                            <option value="<?php echo $attribute['code']; ?>"<?php if ($this->getData('shipping_standard_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                        <?php endforeach ?>
                                    </select>
                                    <input type="text" name="shipping_standard_value" id="shipping_standard_value" style="width: 295px;" class="input-text M2ePro-validation-float M2ePro-required-when-visible-and-enabled" value="<?php echo (float)$this->getData('shipping_standard_value'); ?>">
                                </td>
                            </tr>
                            <tr>
                                <td>Expedited Shipping</td>
                                <td>
                                    <select name="shipping_expedited_mode" id="shipping_expedited_mode" style="width: 164px;">
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DISABLED ?>"<?php if ($this->getData('shipping_expedited_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DISABLED) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Disable'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_FREE ?>"<?php if ($this->getData('shipping_expedited_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_FREE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Free'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DEFAULT ?>"<?php if ($this->getData('shipping_expedited_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DEFAULT) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Rakuten.com Settings'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_VALUE ?>"<?php if ($this->getData('shipping_expedited_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_VALUE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Value'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_CUSTOM_ATTRIBUTE ?>"<?php if ($this->getData('shipping_expedited_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_CUSTOM_ATTRIBUTE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute'); ?></option>
                                    </select>
                                </td>
                                <td>
                                    <select name="shipping_expedited_custom_attribute" id="shipping_expedited_custom_attribute" style="width: 300px;" class="M2ePro-required-when-visible">
                                        <?php if ($this->getData('shipping_expedited_custom_attribute') == ''): ?>
                                            <option class="empty"></option>
                                        <?php endif; ?>
                                        <?php foreach ($generalAttributesByInputTypes['text_price'] as $attribute): ?>
                                            <option value="<?php echo $attribute['code']; ?>"<?php if ($this->getData('shipping_expedited_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                        <?php endforeach ?>
                                    </select>
                                    <input type="text" name="shipping_expedited_value" id="shipping_expedited_value" style="width: 295px;" class="input-text M2ePro-validation-float M2ePro-required-when-visible-and-enabled" value="<?php echo (float)$this->getData('shipping_expedited_value'); ?>">
                                </td>
                            </tr>
                            <tr>
                                <td>Two Day Shipping</td>
                                <td>
                                    <select name="shipping_two_day_mode" id="shipping_two_day_mode" style="width: 164px;">
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DISABLED ?>"<?php if ($this->getData('shipping_two_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DISABLED) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Disable'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_FREE ?>"<?php if ($this->getData('shipping_two_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_FREE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Free'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DEFAULT ?>"<?php if ($this->getData('shipping_two_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DEFAULT) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Rakuten.com Settings'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_VALUE ?>"<?php if ($this->getData('shipping_two_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_VALUE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Value'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_CUSTOM_ATTRIBUTE ?>"<?php if ($this->getData('shipping_two_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_CUSTOM_ATTRIBUTE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute'); ?></option>
                                    </select>
                                </td>
                                <td>
                                    <select name="shipping_two_day_custom_attribute" id="shipping_two_day_custom_attribute" style="width: 300px;" class="M2ePro-required-when-visible">
                                        <?php if ($this->getData('shipping_two_day_custom_attribute') == ''): ?>
                                            <option class="empty"></option>
                                        <?php endif; ?>
                                        <?php foreach ($generalAttributesByInputTypes['text_price'] as $attribute): ?>
                                            <option value="<?php echo $attribute['code']; ?>"<?php if ($this->getData('shipping_two_day_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                        <?php endforeach ?>
                                    </select>
                                    <input type="text" name="shipping_two_day_value" id="shipping_two_day_value" style="width: 295px;" class="input-text M2ePro-validation-float M2ePro-required-when-visible-and-enabled" value="<?php echo (float)$this->getData('shipping_two_day_value'); ?>">
                                </td>
                            </tr>
                            <tr>
                                <td>One Day Shipping</td>
                                <td>
                                    <select name="shipping_one_day_mode" id="shipping_one_day_mode" style="width: 164px;">
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DISABLED ?>"<?php if ($this->getData('shipping_one_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DISABLED) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Disable'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_FREE ?>"<?php if ($this->getData('shipping_one_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_FREE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Free'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DEFAULT ?>"<?php if ($this->getData('shipping_one_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_DEFAULT) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Rakuten.com Settings'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_VALUE ?>"<?php if ($this->getData('shipping_one_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_VALUE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Value'); ?></option>
                                        <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_CUSTOM_ATTRIBUTE ?>"<?php if ($this->getData('shipping_one_day_mode') == Ess_M2ePro_Model_Buy_Listing::SHIPPING_MODE_CUSTOM_ATTRIBUTE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute'); ?></option>
                                    </select>
                                </td>
                                <td>
                                    <select name="shipping_one_day_custom_attribute" id="shipping_one_day_custom_attribute" style="width: 300px;" class="M2ePro-required-when-visible">
                                        <?php if ($this->getData('shipping_one_day_custom_attribute') == ''): ?>
                                            <option class="empty"></option>
                                        <?php endif; ?>
                                        <?php foreach ($generalAttributesByInputTypes['text_price'] as $attribute): ?>
                                            <option value="<?php echo $attribute['code']; ?>"<?php if ($this->getData('shipping_one_day_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                        <?php endforeach ?>
                                    </select>
                                    <input type="text" name="shipping_one_day_value" id="shipping_one_day_value" style="width: 295px;" class="input-text M2ePro-validation-float M2ePro-required-when-visible-and-enabled" value="<?php echo (float)$this->getData('shipping_one_day_value'); ?>">
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_buy_listing_channel_settings_condition">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Condition Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="condition_mode"><?php echo Mage::helper('M2ePro')->__('Condition') ?>: </label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="condition_custom_attribute" name="condition_custom_attribute" value="<?php echo $this->getData('condition_custom_attribute'); ?>" />
                        <input type="hidden" id="condition_value" name="condition_value" value="<?php echo $this->getData('condition_value'); ?>" />

                        <select name="condition_mode" id="condition_mode">
                            <optgroup label="Recommended Value">
                                <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_NEW ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Buy_Listing::CONDITION_NEW) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('New') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_USED_LIKE_NEW ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Buy_Listing::CONDITION_USED_LIKE_NEW) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Like New') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_USED_VERY_GOOD ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Buy_Listing::CONDITION_USED_VERY_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Very Good') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_USED_GOOD ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Buy_Listing::CONDITION_USED_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Good') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_USED_ACCEPTABLE ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Buy_Listing::CONDITION_USED_ACCEPTABLE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Acceptable') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_REFURBISHED ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Buy_Listing::CONDITION_REFURBISHED) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Refurbished') ?></option>
                            </optgroup>

                            <optgroup label="Magento Attribute">
                                <?php foreach ($generalAttributesByInputTypes['text_select'] as $attribute): ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($this->getData('condition_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                <?php endforeach ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Condition of the Product(s) you want to List on Rakuten.com.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="condition_note_mode_tr">
                    <td class="label">
                        <label for="condition_note_mode"><?php echo Mage::helper('M2ePro')->__('Condition Note') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="condition_note_mode" id="condition_note_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_NOTE_MODE_NONE ?>" <?php if ($this->getData('condition_note_mode') == Ess_M2ePro_Model_Buy_Listing::CONDITION_NOTE_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('None') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Buy_Listing::CONDITION_NOTE_MODE_CUSTOM_VALUE ?>" <?php if ($this->getData('condition_note_mode') == Ess_M2ePro_Model_Buy_Listing::CONDITION_NOTE_MODE_CUSTOM_VALUE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Value') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Short Description of Item(s) Condition.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="condition_note_value_tr" <?php if ($this->getData('condition_note_mode') != Ess_M2ePro_Model_Buy_Listing::CONDITION_NOTE_MODE_CUSTOM_VALUE): ?>style="display: none;"<?php endif; ?>>
                    <td class="label">
                        <label for="condition_note_value"><?php echo Mage::helper('M2ePro')->__('Comment Value') ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <textarea name="condition_note_value" id="condition_note_value" class="M2ePro-required-when-visible M2ePro-validate-condition-note-length"><?php echo Mage::helper('M2ePro')->escapeHtml($this->getData('condition_note_value')) ?></textarea>
                    </td>
                    <td class="value">
                        <select name="condition_note_custom_attribute" id="condition_note_custom_attribute" style="width: 150px; margin-top: -4px;">
                            <?php foreach ($attributesByInputTypes['text_textarea'] as $attribute): ?>
                                <option value="<?php echo $attribute['code']; ?>"><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                            <?php endforeach ?>
                        </select>
                        <?php echo $this->getChildHtml('condition_note_value_insert_button');?>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>