<div id="block_notice_amazon_listing_general_search" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Search Settings'); ?>">
    <?php echo Mage::helper('M2ePro')->__('In this Section you can specify the sources from which the values for ASIN/ISBN and UPC/EAN will be taken in case you have those for your Items. <br/><br/>
    These Settings will be used in two cases:

    <ul class="list">
        <li>at the time of using Automatic ASIN/ISBN Search;</li>
        <li>at the time of using “List” Action.</li>
    </ul>

    Using these Settings means the Search of existing Amazon Products and the process of linking Magento Product with found Amazon Product. <br/><br/>

    During the process of Search, Settings values are used according to the following logic:

    <ul class="list">
        <li>the Product is searched by ASIN/ISBN parameter. (if specified);</li>
        <li>if no result by ASIN/ISBN parameter, then UPC/EAN search is performed. (if specified);</li>
        <li>if no result by UPC/EAN parameter, then additional search by Magento Product Name is performed. (if enabled).</li>
    </ul>

    '); ?>
</div>

<?php

    $showWarning = false;
    /** @var Ess_M2ePro_Helper_Magento_Attribute $magentoAttributeHelper */
    $magentoAttributeHelper = Mage::helper('M2ePro/Magento_Attribute');

    $attributesByInputTypes = array(
        'text' => $magentoAttributeHelper->filterByInputTypes($this->getData('general_attributes'), array('text')),
    );

?>

<script type="text/javascript">
    // Data for current tab
    // ----------------------------
    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Amazon'); ?>,
        'Ess_M2ePro_Helper_Component_Amazon'
    );

    //-----------------------------
    Event.observe(window, 'load', function() {

        AmazonListingChannelSettingsHandlerObj = new CommonAmazonListingChannelSettingsHandler();
        AmazonListingChannelSettingsHandlerObj.setConstants('<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Amazon_Listing'); ?>');

        $('general_id_mode').observe('change', AmazonListingChannelSettingsHandlerObj.general_id_mode_change);
        $('worldwide_id_mode').observe('change', AmazonListingChannelSettingsHandlerObj.worldwide_id_mode_change);

        $('general_id_custom_attribute').observe('change', AmazonListingChannelSettingsHandlerObj.general_id_custom_attribute_change);
        $F('general_id_custom_attribute') && $('general_id_custom_attribute').simulate('change');

        $('worldwide_id_custom_attribute').observe('change', AmazonListingChannelSettingsHandlerObj.worldwide_id_custom_attribute_change);
        $F('worldwide_id_custom_attribute') && $('worldwide_id_custom_attribute').simulate('change');

    });
    //-----------------------------

</script>

<div class="entry-edit" id="magento_block_amazon_listing_add_search_identifiers">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Identifiers Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="general_id_mode"><?php echo Mage::helper('M2ePro')->__('ASIN / ISBN') ?>:</label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="general_id_custom_attribute" name="general_id_custom_attribute" value="<?php echo $this->getData('general_id_custom_attribute');?>"/>

                        <select name="general_id_mode" id="general_id_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_NOT_SET ?>" <?php if ($this->getData('general_id_mode') == Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_NOT_SET) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Not Set') ?></option>

                            <optgroup label="Magento Attribute">
                                <?php if ($this->getData('general_id_mode') == Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_CUSTOM_ATTRIBUTE && !$magentoAttributeHelper->isExistInAttributesArray($this->getData('general_id_custom_attribute'), $attributesByInputTypes['text']) && $this->getData('general_id_custom_attribute') != '') : ?>
                                    <?php $showWarning = true; ?>
                                    <option attribute_code="<?php echo $this->getData('general_id_custom_attribute')?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_CUSTOM_ATTRIBUTE ?>" selected="selected">
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($magentoAttributeHelper->getAttributeLabel($this->getData('general_id_custom_attribute'))) ?>
                                    </option>
                                <?php endif; ?>
                                <?php foreach ($attributesByInputTypes['text'] as $attribute): ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($this->getData('general_id_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                <?php endforeach ?>
                            </optgroup>
                        </select>
                    </td>
                    <td class="value">
                        <span>
                            <img class="tool-tip-image" src="<?php echo $this->getSkinUrl('M2ePro/images/tool-tip-icon.png'); ?>">
                            <span class="tool-tip-message tip-right" style="left: 538px; top: 407px; display: none;">
                                <img src="<?php echo $this->getSkinUrl('M2ePro/images/help.png'); ?>">
                                <span><?php echo Mage::helper('M2ePro')->__('This Setting is the source of value for ASIN/ISBN will be used at the time of Automatic Search of Amazon Products.'); ?></span>
                            </span>
                        </span>
                        <?php if ($showWarning) :?>
                            <?php $showWarning = false; ?>
                            <span id="warning_message">
                            <img src="<?php echo $this->getSkinUrl('M2ePro/images/warning.png'); ?>" class="tool-tip-image">
                            <span class="tool-tip-message" style="font-size: 12px; display: none; border-color: #ffd967; background-color: #fffbf0;">
                                <img src="<?php echo $this->getSkinUrl('M2ePro/images/i_notice.gif'); ?>" style="margin-top: -21px;">
                                <span><?php echo Mage::helper('M2ePro')->__(
                                        'Magento Attribute you have chosen earlier is using not for all Attribute Sets or has type different from acceptable to use for this Option. <br/><br/>
                                         Please, select another valid Magento Attribute from the list or add selected Attribute to all Attributes Sets of Magento.'
                                    ); ?></span>
                            </span>
                        </span>
                        <?php endif; ?>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="worldwide_id_mode"><?php echo Mage::helper('M2ePro')->__('UPC / EAN') ?>:</label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="worldwide_id_custom_attribute" name="worldwide_id_custom_attribute" value="<?php echo $this->getData('worldwide_id_custom_attribute');?>"/>

                        <select name="worldwide_id_mode" id="worldwide_id_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_NOT_SET ?>" <?php if ($this->getData('worldwide_id_mode') == Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_NOT_SET) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Not Set') ?></option>

                            <optgroup label="Magento Attribute">
                                <?php if ($this->getData('worldwide_id_mode') == Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_CUSTOM_ATTRIBUTE && !$magentoAttributeHelper->isExistInAttributesArray($this->getData('worldwide_id_custom_attribute'), $attributesByInputTypes['text']) && $this->getData('worldwide_id_custom_attribute') != '') : ?>
                                    <?php $showWarning = true; ?>
                                    <option attribute_code="<?php echo $this->getData('worldwide_id_custom_attribute')?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_CUSTOM_ATTRIBUTE ?>" selected="selected">
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($magentoAttributeHelper->getAttributeLabel($this->getData('worldwide_id_custom_attribute'))) ?>
                                    </option>
                                <?php endif; ?>
                                <?php foreach ($attributesByInputTypes['text'] as $attribute): ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($this->getData('worldwide_id_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                <?php endforeach ?>
                            </optgroup>
                        </select>
                    </td>

                    <td class="value">
                        <span>
                            <img class="tool-tip-image" src="<?php echo $this->getSkinUrl('M2ePro/images/tool-tip-icon.png'); ?>">
                            <span class="tool-tip-message tip-right" style="left: 538px; top: 407px; display: none;">
                                <img src="<?php echo $this->getSkinUrl('M2ePro/images/help.png'); ?>">
                                <span><?php echo Mage::helper('M2ePro')->__('This Setting is the source of value for UPC/EAN will be used at the time of Automatic Search of Amazon Products.'); ?></span>
                            </span>
                        </span>
                        <?php if ($showWarning) :?>
                            <?php $showWarning = false; ?>
                            <span id="warning_message">
                            <img src="<?php echo $this->getSkinUrl('M2ePro/images/warning.png'); ?>" class="tool-tip-image">
                            <span class="tool-tip-message" style="font-size: 12px; display: none; border-color: #ffd967; background-color: #fffbf0;">
                                <img src="<?php echo $this->getSkinUrl('M2ePro/images/i_notice.gif'); ?>" style="margin-top: -21px;">
                                <span><?php echo Mage::helper('M2ePro')->__(
                                        'Magento Attribute you have chosen earlier is used not for all Attribute Sets or has type different from acceptable to use for this Option. <br/><br/>
                                         Please, select another valid Magento Attribute from the list or add selected Attribute to all Attributes Sets of Magento.'
                                    ); ?></span>
                            </span>
                        </span>
                        <?php endif; ?>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="entry-edit" id="magento_block_amazon_listing_add_search_advanced">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Additional Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="label">
                        <label for="search_by_magento_title_mode"><?php echo Mage::helper('M2ePro')->__('Search by Product Name'); ?>:
                    </td>
                    <td class="value">
                        <select id="search_by_magento_title_mode" name="search_by_magento_title_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SEARCH_BY_MAGENTO_TITLE_MODE_NONE ?>" <?php if ($this->getData('search_by_magento_title_mode') == Ess_M2ePro_Model_Amazon_Listing::SEARCH_BY_MAGENTO_TITLE_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Disable') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SEARCH_BY_MAGENTO_TITLE_MODE_YES ?>" <?php if ($this->getData('search_by_magento_title_mode') == Ess_M2ePro_Model_Amazon_Listing::SEARCH_BY_MAGENTO_TITLE_MODE_YES) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Enable') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Enable this Setting if you want additional Search of Amazon Products by Magento Product Name to be performed.'); ?></span>
                        </p>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
