<div id="block_notice_amazon_listing_add_selling_settings" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Selling Settings'); ?>">
    <?php echo Mage::helper('M2ePro')->__('
    On this Page you can specify main <strong>Selling Settings</strong> for Amazon Items you are going to sell using this M2E Pro Listing.<br/><br/>

    You can provide a settings for SKU formating, appropriate Condition, Condition Note, Gift Wrap, Gift Message and also specify
    Additional Settings - Handling Time and Restock Date.<br/><br/>

    In addition to, in this Section you can select Selling Format Policy that contains Settings connected with forming
    of Price, Quantity etc. and Synchronization Policy that describes Rules of Automatic Synchronization of Magento Product and Amazon Item.
'); ?>
</div>

<?php
    $restockDateValue = $this->getData('restock_date_value');
    if (!empty($restockDateValue) && strtotime($restockDateValue)) {
        $this->setData('restock_date_value', Mage::helper('M2ePro')->gmtDateToTimezone($restockDateValue));
    }

    /** @var Ess_M2ePro_Helper_Magento_Attribute $magentoAttributeHelper */
    $magentoAttributeHelper = Mage::helper('M2ePro/Magento_Attribute');

    $attributesByInputTypes = array(
        'text_textarea' => $magentoAttributeHelper->filterByInputTypes(
            $this->getData('all_attributes'), array('text', 'textarea')
        ),
    );

    $generalAttributesByInputTypes = array(
        'boolean' => $magentoAttributeHelper->filterByInputTypes($this->getData('all_attributes'), array('boolean')),
        'text' => $magentoAttributeHelper->filterByInputTypes($this->getData('general_attributes'), array('text')),
        'text_date' => $magentoAttributeHelper->filterByInputTypes(
            $this->getData('general_attributes'), array('text', 'date', 'datetime')
        ),
        'text_select' => $magentoAttributeHelper->filterByInputTypes(
            $this->getData('general_attributes'), array('text', 'select')
        ),
        'text_images' => $magentoAttributeHelper->filterByInputTypes(
            $this->getData('general_attributes'),
            array('text', 'image', 'media_image', 'gallery', 'multiline', 'textarea', 'select', 'multiselect')
        )
    );

?>

<script type="text/javascript">

    // ie bug fix
    // ---------
    if (Prototype && Prototype.Browser.IE && varienLoaderHandler) {
        var loaderOnCompleteFunction = varienLoaderHandler.handler.onComplete;
        varienLoaderHandler.handler.onComplete = function() {

            loaderOnCompleteFunction();
            $$('select').each(function (el) {
                $(el).style.visibility = 'visible';
            });
        }
    }
    // ---------

    // Data for current tab
    //-----------------------------
    M2ePro.text.condition_note_length_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Must be not more than 2000 characters long.')); ?>';
    M2ePro.text.sku_modification_custom_value_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('%value% placeholder should be specified')); ?>';
    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Amazon'); ?>,
        'Ess_M2ePro_Helper_Component'
    );
    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Amazon_Listing'); ?>,
        'Ess_M2ePro_Model_Amazon_Listing'
    );

    M2ePro.url.addNewSellingFormatTemplate = '<?php echo $this->getUrl('*/adminhtml_common_amazon_template_sellingFormat/new'); ?>';
    M2ePro.url.addNewSynchronizationTemplate = '<?php echo $this->getUrl('*/adminhtml_common_amazon_template_synchronization/new'); ?>';
    M2ePro.url.editSellingFormatTemplate = '<?php echo $this->getUrl('*/adminhtml_common_amazon_template_sellingFormat/edit'); ?>' + 'id/';
    M2ePro.url.getSellingFormatTemplates = '<?php echo $this->getUrl('*/adminhtml_general/modelGetAll',array('model'=>'Template_SellingFormat','id_field'=>'id','data_field'=>'title','sort_field'=>'title','sort_dir'=>'ASC','component_mode'=>Ess_M2ePro_Helper_Component_Amazon::NICK)); ?>';
    M2ePro.url.editSynchronizationTemplate = '<?php echo $this->getUrl('*/adminhtml_common_amazon_template_synchronization/edit'); ?>' + 'id/';
    M2ePro.url.getSynchronizationTemplates = '<?php echo $this->getUrl('*/adminhtml_general/modelGetAll',array('model'=>'Template_Synchronization','id_field'=>'id','data_field'=>'title','sort_field'=>'title','sort_dir'=>'ASC','component_mode'=>Ess_M2ePro_Helper_Component_Amazon::NICK)); ?>';

    M2ePro.autoCompleteData = {
        url : {}
    };
    M2ePro.autoCompleteData.flags = {
        sellingFormatTemplatesDropDown    : <?php echo $this->sellingFormatTemplatesDropDown    ? 'true' : 'false'; ?>,
        synchronizationsTemplatesDropDown : <?php echo $this->synchronizationsTemplatesDropDown ? 'true' : 'false'; ?>
    };
    M2ePro.autoCompleteData.url.getSynchronizationTemplates    = '<?php echo $this->getUrl('*/adminhtml_common_general/searchAutocomplete', array('model' => 'Template_Synchronization', 'component' => Ess_M2ePro_Helper_Component_Amazon::NICK)); ?>';

    Event.observe(window, 'load', function() {

        CommonListingSettingsHandlerObj = new CommonListingSettingsHandler();
        CommonListingSettingsHandlerObj.setConstants('<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Listing'); ?>');

        AmazonListingChannelSettingsHandlerObj = new CommonAmazonListingChannelSettingsHandler();
        AmazonListingChannelSettingsHandlerObj.setConstants('<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Amazon_Listing'); ?>');

        $('template_selling_format_id').observe('change', function() {
            if ($('template_selling_format_id').value) {
                $('edit_selling_format_template_link').show();
            } else {
                $('edit_selling_format_template_link').hide();
            }
        });
        $('template_selling_format_id').simulate('change');

        $('template_synchronization_id').observe('change', function() {
            if ($('template_synchronization_id').value) {
                $('edit_synchronization_template_link').show();
            } else {
                $('edit_synchronization_template_link').hide();
            }
        });
        $('template_synchronization_id').simulate('change');

        AutoCompleteHandler = new AutoComplete();

        if (M2ePro.autoCompleteData.flags.sellingFormatTemplatesDropDown) {
            $('template_selling_format_id').observe('change', CommonListingSettingsHandlerObj.selling_format_template_id_change)
            if ($('template_selling_format_id').value) {
                $('template_selling_format_id').simulate('change');
            }
        } else {
            AutoCompleteHandler.bind('template_selling_format_autocomplete',
                M2ePro.autoCompleteData.url.getSellingFormatTemplates,
                M2ePro.formData.template_selling_format_id > 0 ? M2ePro.formData.template_selling_format_id : '',
                M2ePro.formData.template_selling_format_title,
                function (id) { $('template_selling_format_id').value = id; $('template_selling_format_id').simulate('change'); }
            );
            $('template_selling_format_id').value = $('template_selling_format_autocomplete').readAttribute('selected_id');
            M2ePro.formData.template_selling_format_id > 0 && $('template_selling_format_autocomplete').setStyle({color: 'initial'});
        }

        if (M2ePro.autoCompleteData.flags.synchronizationsTemplatesDropDown) {
            $('template_synchronization_id').observe('change', CommonListingSettingsHandlerObj.synchronization_template_id_change)
            if ($('template_synchronization_id').value) {
                $('template_synchronization_id').simulate('change');
            }
        } else {
            AutoCompleteHandler.bind('template_synchronization_autocomplete',
                M2ePro.autoCompleteData.url.getSynchronizationTemplates,
                M2ePro.formData.template_synchronization_id > 0 ? M2ePro.formData.template_synchronization_id : '',
                M2ePro.formData.template_synchronization_title,
                function (id) { $('template_synchronization_id').value = id; $('template_synchronization_id').simulate('change'); }
            );
            $('template_synchronization_id').value = $('template_synchronization_autocomplete').readAttribute('selected_id');
            M2ePro.formData.template_synchronization_id > 0 && $('template_synchronization_autocomplete').setStyle({color: 'initial'});
        }

        $('sku_mode').observe('change', AmazonListingChannelSettingsHandlerObj.sku_mode_change);

        $('sku_modification_mode')
            .observe('change', AmazonListingChannelSettingsHandlerObj.sku_modification_mode_change);

        $('condition_mode').observe('change', AmazonListingChannelSettingsHandlerObj.condition_mode_change);
        $('condition_mode').simulate('change');

        $('condition_note_mode').observe('change', AmazonListingChannelSettingsHandlerObj.condition_note_mode_change);

        $('image_main_mode')
            .observe('change', AmazonListingChannelSettingsHandlerObj.image_main_mode_change)
            .simulate('change');

        $('gallery_images_mode')
            .observe('change', AmazonListingChannelSettingsHandlerObj.gallery_images_mode_change)
            .simulate('change');

        $('gift_wrap_mode')
            .observe('change', AmazonListingChannelSettingsHandlerObj.gift_wrap_mode_change)
            .simulate('change');

        $('gift_message_mode')
            .observe('change', AmazonListingChannelSettingsHandlerObj.gift_message_mode_change)
            .simulate('change');

        $('handling_time_mode')
            .observe('change', AmazonListingChannelSettingsHandlerObj.handling_time_mode_change)
            .simulate('change');

        $('restock_date_mode')
            .observe('change', AmazonListingChannelSettingsHandlerObj.restock_date_mode_change)
            .simulate('change');
    });
    //-----------------------------

</script>

<div class="entry-edit" id="magento_block_amazon_listing_sku_settings">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('SKU Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="sku_mode"><?php echo Mage::helper('M2ePro')->__('Source') ?>:</label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="sku_custom_attribute" name="sku_custom_attribute" value="<?php echo $this->getData('sku_custom_attribute'); ?>" />

                        <select name="sku_mode" id="sku_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_PRODUCT_ID ?>" <?php if ($this->getData('sku_mode') == Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_PRODUCT_ID) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Product ID') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_DEFAULT ?>" <?php if ($this->getData('sku_mode') == Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_DEFAULT) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Product SKU') ?></option>

                            <optgroup label="Magento Attribute">
                                <?php foreach ($generalAttributesByInputTypes['text'] as $attribute): ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($this->getData('sku_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                <?php endforeach ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Is used to identify Amazon Items, which you list, in Amazon Seller Central Inventory.
                            <br/><br/><b>Note:</b> If you list a Magento Product and M2E Pro find an Amazon Item with the same <i>Merchant SKU</i> in Amazon Inventory, they will be Mapped.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="sku_modification_mode"><?php echo Mage::helper('M2ePro')->__('Modification') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="sku_modification_mode" id="sku_modification_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODIFICATION_MODE_NONE; ?>" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Amazon_Listing::SKU_MODIFICATION_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('None'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODIFICATION_MODE_PREFIX; ?>" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Amazon_Listing::SKU_MODIFICATION_MODE_PREFIX) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Prefix'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODIFICATION_MODE_POSTFIX; ?>" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Amazon_Listing::SKU_MODIFICATION_MODE_POSTFIX) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Postfix'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODIFICATION_MODE_TEMPLATE; ?>" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Amazon_Listing::SKU_MODIFICATION_MODE_TEMPLATE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Template'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Select one of the available variants to modify Amazon Item SKU that was formed based on the Source you provided.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="sku_modification_custom_value_tr" <?php if ($this->getData('sku_modification_mode') == Ess_M2ePro_Model_Amazon_Listing::SKU_MODIFICATION_MODE_NONE): ?>style="display: none;"<?php endif; ?>>
                    <td class="label">
                        <label for="sku_modification_custom_value"><?php echo Mage::helper('M2ePro')->__('Modification Value') ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input type="text" id="sku_modification_custom_value" name="sku_modification_custom_value" class="input-text M2ePro-required-when-visible M2ePro-validate-sku-modification-custom-value" value="<?php echo $this->getData('sku_modification_custom_value'); ?>" />
                    <td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="generate_sku_mode"><?php echo Mage::helper('M2ePro')->__('Generate') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="generate_sku_mode" id="generate_sku_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GENERATE_SKU_MODE_NO; ?>" <?php if ($this->getData('generate_sku_mode') == Ess_M2ePro_Model_Amazon_Listing::GENERATE_SKU_MODE_NO) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('No') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GENERATE_SKU_MODE_YES ?>" <?php if ($this->getData('generate_sku_mode') == Ess_M2ePro_Model_Amazon_Listing::GENERATE_SKU_MODE_YES) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Yes') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('If <strong>Yes</strong>, then if Merchant SKU of the Amazon Item you list is found in the 3rd Party Listings, M2E Pro Listings or among the Amazon Items that are currently in process of Listing,
                            another SKU will be automatically created and the Amazon Item will be Listed.  <br/><br/>
                            Has to be set to <strong>Yes</strong> if you are going to use the same Magento Product under different ASIN(s)/ISBN(s)'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_amazon_listing_add_templates">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Policies'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="template_selling_format_id"><?php echo Mage::helper('M2ePro')->__('Selling Format Policy'); ?>: <span class="required">*</span></label>
                    </td>
                    <td id="template_selling_format_cell" class="value">
                        <?php if ($this->sellingFormatTemplatesDropDown): ?>
                            <select id="template_selling_format_id" name="template_selling_format_id" <?php if (!count($this->sellingFormatTemplates)) echo 'style="display: none;"';?> class="required-entry">
                                <?php if (!$this->getData('template_selling_format_id')): ?>
                                    <option class="empty"></option>
                                <?php endif ?>
                                <?php foreach ($this->sellingFormatTemplates as $item) { ?>
                                    <option value="<?php echo $item['id']; ?>" <?php if ($item['id'] == $this->getData('template_selling_format_id')) echo ' selected="selected"'; ?>><?php echo $item['title']; ?></option>
                                <?php } ?>
                            </select>
                            <span id="template_selling_format_label" <?php if (count($this->sellingFormatTemplates)) echo 'style="display: none;"';?>><?php echo Mage::helper('M2ePro')->__('No Policies available.'); ?></span>
                        <?php else: ?>
                            <input type="text" id="template_selling_format_autocomplete" class="input-text" selected_id="" style="width: 275px; color: gray;"
                                   value="<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>"
                                   onblur="if (this.value.trim().length == 0) {
                                       this.value = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>';
                                       this.style.color = 'gray';
                                       }"
                                   onfocus="if (this.value == '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>') {
                                       this.value = '';
                                       this.style.color = '';
                                       }"
                                >
                            <input type="hidden" name="template_selling_format_id" id="template_selling_format_id" class="required-entry" value="" />
                        <?php endif; ?>
                    </td>
                    <td class="value">
                        <span id="edit_selling_format_template_link">
                            <a href="javascript: void(0);" onclick="CommonListingSettingsHandlerObj.openWindow(M2ePro.url.editSellingFormatTemplate+$('template_selling_format_id').value);"><?php echo Mage::helper('M2ePro')->__('View') ?>&nbsp;/&nbsp;<?php echo Mage::helper('M2ePro')->__('Edit') ?></a>
                            <?php echo Mage::helper('M2ePro')->__('or') ?>
                        </span>
                        <a href="javascript: void(0);" onclick="CommonListingSettingsHandlerObj.addNewTemplate(M2ePro.url.addNewSellingFormatTemplate, CommonListingSettingsHandlerObj.newSellingFormatTemplateCallback);"><?php echo Mage::helper('M2ePro')->__('Add New') ?></a>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td id="template_selling_format_messages"></td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="template_synchronization_id"><?php echo Mage::helper('M2ePro')->__('Synchronization Policy'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <?php if ($this->synchronizationsTemplatesDropDown): ?>
                            <select id="template_synchronization_id" name="template_synchronization_id" <?php if (!count($this->synchronizationsTemplates)) echo 'style="display: none;"';?> class="required-entry">
                                <?php if (!$this->getData('template_synchronization_id')): ?>
                                    <option class="empty"></option>
                                <?php endif ?>
                                <?php foreach ($this->synchronizationsTemplates as $item){ ?>
                                    <option value="<?php echo $item['id']; ?>" <?php if ($item['id'] == $this->getData('template_synchronization_id')) echo ' selected="selected"'; ?>><?php echo $item['title']; ?></option>
                                <?php } ?>
                            </select>
                            <span id="template_synchronization_label" <?php if (count($this->synchronizationsTemplates)) echo 'style="display: none;"';?>><?php echo Mage::helper('M2ePro')->__('No Policies available.'); ?></span>
                        <?php else:?>
                            <input type="text" id="template_synchronization_autocomplete" class="input-text" selected_id="" style="width: 275px; color: gray;"
                                   value="<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>"
                                   onblur="if (this.value.trim().length == 0) {
                                       this.value = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>';
                                       this.style.color = 'gray';
                                       }"
                                   onfocus="if (this.value == '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Policy Name Here...')); ?>') {
                                       this.value = '';
                                       this.style.color = '';
                                       }"
                                >
                            <input type="hidden" name="template_synchronization_id" id="template_synchronization_id" class="required-entry" value="" />
                        <?php endif; ?>
                    </td>
                    <td class="value">
                        <span id="edit_synchronization_template_link">
                            <a href="javascript: void(0);" onclick="CommonListingSettingsHandlerObj.openWindow(M2ePro.url.editSynchronizationTemplate+$('template_synchronization_id').value);"><?php echo Mage::helper('M2ePro')->__('View') ?>&nbsp;/&nbsp;<?php echo Mage::helper('M2ePro')->__('Edit') ?></a>
                            <?php echo Mage::helper('M2ePro')->__('or') ?>
                        </span>
                        <a href="javascript: void(0);" onclick="CommonListingSettingsHandlerObj.addNewTemplate(M2ePro.url.addNewSynchronizationTemplate, CommonListingSettingsHandlerObj.newSynchronizationTemplateCallback);"><?php echo Mage::helper('M2ePro')->__('Add New') ?></a>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>

<div class="entry-edit" id="magento_block_amazon_listing_add_condition">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Condition Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="condition_mode"><?php echo Mage::helper('M2ePro')->__('Condition') ?>: </label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="condition_custom_attribute" name="condition_custom_attribute" value="<?php echo $this->getData('condition_custom_attribute'); ?>" />
                        <input type="hidden" id="condition_value" name="condition_value" value="<?php echo $this->getData('condition_value'); ?>" />

                        <select name="condition_mode" id="condition_mode">
                            <optgroup label="Recommended Value">
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_NEW ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_NEW) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('New') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_LIKE_NEW ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_LIKE_NEW) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Like New') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_VERY_GOOD ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_VERY_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Very Good') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_GOOD ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Good') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_ACCEPTABLE ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_ACCEPTABLE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Acceptable') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_LIKE_NEW ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_LIKE_NEW) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Collectible - Like New') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_VERY_GOOD ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_VERY_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Collectible - Very Good') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_GOOD ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Collectible - Good') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_ACCEPTABLE ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_ACCEPTABLE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Collectible - Acceptable') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_REFURBISHED ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_REFURBISHED) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Refurbished') ?></option>
                                <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" attribute_code="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_CLUB ?>" <?php if ($this->getData('condition_value') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_CLUB) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Club') ?></option>
                            </optgroup>

                            <optgroup label="Magento Attribute">
                                <?php foreach ($generalAttributesByInputTypes['text_select'] as $attribute): ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($this->getData('condition_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                <?php endforeach ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Condition of the Item(s) you want to List on Amazon.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="condition_note_mode_tr">
                    <td class="label">
                        <label for="condition_note_mode"><?php echo Mage::helper('M2ePro')->__('Condition Note') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="condition_note_mode" id="condition_note_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_NONE ?>" <?php if ($this->getData('condition_note_mode') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('None') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_CUSTOM_VALUE ?>" <?php if ($this->getData('condition_note_mode') == Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_CUSTOM_VALUE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Value') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Short Description of Item(s) Condition.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="condition_note_value_tr" <?php if ($this->getData('condition_note_mode') != Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_CUSTOM_VALUE): ?>style="display: none;"<?php endif; ?>>
                    <td class="label">
                        <label for="condition_note_value"><?php echo Mage::helper('M2ePro')->__('Condition Note Value') ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <textarea name="condition_note_value" id="condition_note_value" class="M2ePro-required-when-visible M2ePro-validate-condition-note-length"><?php echo Mage::helper('M2ePro')->escapeHtml($this->getData('condition_note_value')) ?></textarea>
                    </td>
                    <td class="value">
                        <select name="condition_note_custom_attribute" id="condition_note_custom_attribute" style="width: 150px; margin-top: -4px;">
                            <?php foreach ($attributesByInputTypes['text_textarea'] as $attribute): ?>
                                <option value="<?php echo $attribute['code']; ?>" ><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                            <?php endforeach ?>
                        </select>

                        <?php echo $this->getChildHtml('condition_note_value_insert_button');?>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_amazon_listing_add_images" style="display: none;">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Listing Photos'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="image_main_mode"><?php echo Mage::helper('M2ePro')->__('Main Image'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input type="hidden" id="image_main_attribute" name="image_main_attribute" value="<?php echo $this->getData('image_main_attribute'); ?>" />

                        <select id="image_main_mode" name="image_main_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::IMAGE_MAIN_MODE_NONE; ?>" <?php if ($this->getData('image_main_mode') == Ess_M2ePro_Model_Amazon_Listing::IMAGE_MAIN_MODE_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('None'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::IMAGE_MAIN_MODE_PRODUCT; ?>" <?php if ($this->getData('image_main_mode') == Ess_M2ePro_Model_Amazon_Listing::IMAGE_MAIN_MODE_PRODUCT): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Product Base Image'); ?></option>

                            <optgroup label="Magento Attribute">
                                <?php foreach($generalAttributesByInputTypes['text_images'] as $attribute) : ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::IMAGE_MAIN_MODE_ATTRIBUTE; ?>" <?php if ($attribute['code'] == $this->getData('image_main_attribute')): ?>selected="selected"<?php endif; ?>>
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                    </option>
                                <?php endforeach; ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('You have an ability to add Photos for your Items to be displayed on the More Buying Choices Page. <br/>It is available only for Items with Used or Collectible Condition.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="gallery_images_mode_tr">
                    <td class="label">
                        <label for="gallery_images_mode"><?php echo Mage::helper('M2ePro')->__('Additional Images'); ?>:</label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input type="hidden" id="gallery_images_limit" name="gallery_images_limit" value="<?php echo $this->getData('gallery_images_limit'); ?>" />
                        <input type="hidden" id="gallery_images_attribute" name="gallery_images_attribute" value="<?php echo $this->getData('gallery_images_attribute'); ?>" />

                        <select id="gallery_images_mode" name="gallery_images_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GALLERY_IMAGES_MODE_NONE; ?>" <?php if ($this->getData('gallery_images_mode') == Ess_M2ePro_Model_Amazon_Listing::GALLERY_IMAGES_MODE_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('None'); ?></option>

                            <optgroup label="Product Images Quantity">
                                <option attribute_code="1" <?php if ($this->getData('gallery_images_limit') == 1 && ($this->getData('gallery_images_mode') != Ess_M2ePro_Model_Amazon_Listing::GALLERY_IMAGES_MODE_NONE)): echo ' selected="selected"'; endif; ?>>1</option>
                                <?php for ($i = 2; $i <= Ess_M2ePro_Model_Amazon_Listing::GALLERY_IMAGES_COUNT_MAX; $i++): ?>
                                    <option attribute_code="<?php echo $i; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GALLERY_IMAGES_MODE_PRODUCT; ?>" <?php if ($this->getData('gallery_images_limit') == $i): echo ' selected="selected"'; endif; ?>>
                                        <?php echo Mage::helper('M2ePro')->__('Up to').' '.$i; ?>
                                    </option>
                                <?php endfor ?>
                            </optgroup>

                            <optgroup label="Magento Attribute">
                                <?php foreach($generalAttributesByInputTypes['text_images'] as $attribute) : ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GALLERY_IMAGES_MODE_ATTRIBUTE; ?>" <?php if ($attribute['code'] == $this->getData('gallery_images_attribute')): ?>selected="selected"<?php endif; ?>>
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                    </option>
                                <?php endforeach; ?>
                            </optgroup>
                        </select>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_amazon_listing_gift_settings">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Gift Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="gift_wrap_mode"><?php echo Mage::helper('M2ePro')->__('Gift Wrap'); ?>: </label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input type="hidden" id="gift_wrap_attribute" name="gift_wrap_attribute" value="<?php echo $this->getData('gift_wrap_attribute'); ?>" />

                        <select id="gift_wrap_mode" name="gift_wrap_mode">
                            <option value="<?echo Ess_M2ePro_Model_Amazon_Listing::GIFT_WRAP_MODE_NO; ?>" <?php echo Ess_M2ePro_Model_Amazon_Listing::GIFT_WRAP_MODE_NO == $this->getData('gift_wrap_mode') ? 'selected="selected"' : ''?> >No</option>
                            <option value="<?echo Ess_M2ePro_Model_Amazon_Listing::GIFT_WRAP_MODE_YES; ?>" <?php echo Ess_M2ePro_Model_Amazon_Listing::GIFT_WRAP_MODE_YES == $this->getData('gift_wrap_mode') ? 'selected="selected"' : ''?> >Yes</option>

                            <?php if (!empty($generalAttributesByInputTypes['boolean'])) : ?>
                                <optgroup label="Magento Attribute">
                                    <?php foreach($generalAttributesByInputTypes['boolean'] as $attribute) : ?>
                                        <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GIFT_WRAP_MODE_ATTRIBUTE; ?>" <?php if ($attribute['code'] == $this->getData('gift_wrap_attribute')): ?>selected="selected"<?php endif; ?>>
                                            <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                        </option>
                                    <?php endforeach; ?>
                                </optgroup>
                            <?php endif; ?>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Enable this Option in case you want Gift Wrapped Option be applied to the Products you are going to sell.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="gift_message_mode"><?php echo Mage::helper('M2ePro')->__('Gift Message'); ?>:</label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input type="hidden" id="gift_message_attribute" name="gift_message_attribute" value="<?php echo $this->getData('gift_message_attribute'); ?>" />

                        <select id="gift_message_mode" name="gift_message_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GIFT_MESSAGE_MODE_NO; ?>" <?php echo Ess_M2ePro_Model_Amazon_Listing::GIFT_MESSAGE_MODE_NO == $this->getData('gift_message_mode') ? 'selected="selected"' : ''?> >No</option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GIFT_MESSAGE_MODE_YES; ?>" <?php echo Ess_M2ePro_Model_Amazon_Listing::GIFT_MESSAGE_MODE_YES == $this->getData('gift_message_mode') ? 'selected="selected"' : ''?> >Yes</option>

                            <?php if (!empty($generalAttributesByInputTypes['boolean'])) : ?>
                                <optgroup label="Magento Attribute">
                                    <?php foreach($generalAttributesByInputTypes['boolean'] as $attribute) : ?>
                                        <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GIFT_MESSAGE_MODE_ATTRIBUTE; ?>" <?php if ($attribute['code'] == $this->getData('gift_message_attribute')): ?>selected="selected"<?php endif; ?>>
                                            <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                        </option>
                                    <?php endforeach; ?>
                                </optgroup>
                            <?php endif; ?>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Enable this Option in case you want Gift Message Option be applied to the Products you are going to sell.'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_amazon_listing_add_additional">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Additional Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="handling_time_mode"><?php echo Mage::helper('M2ePro')->__('Handling Time'); ?>:</label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="handling_time_custom_attribute" name="handling_time_custom_attribute" value="<?php echo $this->getData('handling_time_custom_attribute'); ?>" />
                        <input type="hidden" id="handling_time_value" name="handling_time_value" value="<?php echo $this->getData('handling_time_value'); ?>" />

                        <select id="handling_time_mode" name="handling_time_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_NONE ?>" <?php if ($this->getData('handling_time_mode') == Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('None') ?></option>

                            <optgroup label="Recommended Value">
                                <?php for ($i=1;$i<=30;$i++) { ?>
                                    <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_RECOMMENDED ?>" attribute_code="<?php echo $i; ?>" <?php if ($this->getData('handling_time_value') == $i) { ?>selected="selected"<?php } ?>><?php echo $i; ?> day(s)</option>
                                <?php } ?>
                            </optgroup>

                            <optgroup label="Magento Attribute">
                                <?php foreach ($generalAttributesByInputTypes['text_select'] as $attribute): ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($this->getData('handling_time_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                <?php endforeach ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Time that is needed to prepare an Item to be shipped.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="restock_date_mode"><?php echo Mage::helper('M2ePro')->__('Restock Date'); ?>:
                    </td>
                    <td class="value">
                        <input type="hidden" id="restock_date_custom_attribute" name="restock_date_custom_attribute" value="<?php echo $this->getData('restock_date_custom_attribute'); ?>" />

                        <select id="restock_date_mode" name="restock_date_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_NONE ?>" <?php if ($this->getData('restock_date_mode') == Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('None') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_CUSTOM_VALUE ?>" <?php if ($this->getData('restock_date_mode') == Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_CUSTOM_VALUE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Value') ?></option>

                            <optgroup label="Magento Attribute">
                                <?php foreach ($generalAttributesByInputTypes['text_date'] as $attribute): ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($this->getData('restock_date_custom_attribute') == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                                <?php endforeach ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('The date you will be able to ship any back-ordered Items to a Customer.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="restock_date_value_tr">
                    <td class="label">
                        <label for="restock_date_value"><?php echo Mage::helper('M2ePro')->__('Restock Date Value'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="restock_date_value" name="restock_date_value" value="<?php echo $this->getData('restock_date_value'); ?>" type="text" class="input-text M2ePro-required-when-visible M2ePro-input-datetime" />
                        <script type="text/javascript">
                            //<![CDATA[
                            Calendar.setup({
                                inputField: "restock_date_value",
                                ifFormat: "%Y-%m-%d %H:%M:%S",
                                showsTime: true,
                                button: "restock_date",
                                align: "Bl",
                                singleClick : true
                            });
                            //]]>
                        </script>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>