<div id="block_notice_common_other_listings_grid" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('3rd Party Listings'); ?>">
    <?php
    echo Mage::helper('M2ePro')->__('
        This Page shows <strong>Accounts</strong> and <strong>Marketplaces</strong> that have 3rd Party Listings associated with them. (3rd Party Listings are Listings that haven\'t been Added by M2E Pro.)<br/><br/>
        You can <strong>Map</strong> these Listings to existing Products in Magento and <strong>Move</strong> them to another M2E Pro Listings for further management.<br/>
        For that use Single Actions on appropriate Listing record or use Mass Actions in the top right corner.<br/><br/>
        <strong>Note</strong>: To import 3rd Party Listings the <strong>Import 3rd Party Listings</strong> must be <strong>enabled</strong> in Account\'s Settings (%menu_account_edit_3rd_path%)
        and the <strong>3rd Party Listings Synchronization</strong> must be <strong>enabled</strong> in (Sell On Multi-Channels > Configuration > Synchronization Tab > [Amazon (Beta)/Rakuten.com (Beta)]).',
        Mage::helper('M2ePro/View_Common')->getPageNavigationPath('configuration', 'Accounts', '', '[Needed Account] > 3rd Party Listings Tab'),
        Mage::helper('M2ePro/View_Common')->getPageNavigationPath('configuration', 'Synchronization', 'any')
    );
    ?>
</div>