<div id="templateDescription_pop_up_content">
    <div style="padding: 5px 0px;">

        <?php if(count($this->getMessages()) > 0) : ?>
            <div id="templateDescription_error_block">
                <?php echo $this->getWarnings(); ?>
            </div>
        <?php endif; ?>

        <?php if (!$this->isNewAsin()) { ?>
            <div id="block_notice_amazon_description_policy_popup_help" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Description Policy Assigning'); ?>">
                <?php echo Mage::helper('M2ePro')->__('
                Description Policy is using to update Amazon Product Information, such as Title, Images, etc.
                It can be assigned to already existed Products.<br/><br/>

                <strong>Note:</strong> To create New ASIN/ISBN you should not only assign Description Policy to your Products, but provide Settings for New ASIN/ISBN Creation. You can do it in two ways:<br/>
                <ul class="list">
                <li>using an <strong>Assign Settings for New ASIN/ISBN</strong> Option in Actions bulk at the top of the Grid;</li>
                <li>clicking on a Plus Icon in <strong>ASIN/ISBN Column</strong> of a Grid and selecting an <strong>Assign Settings for New ASIN/ISBN</strong> Option in an opened pop-up.</li>
                </ul>
        '); ?>
            </div>
        <?php } else { ?>
            <div id="block_notice_amazon_new_asin_description_policy_popup_help" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Assign Description Policy for New ASIN/ISBN Creation'); ?>">
                <?php echo Mage::helper('M2ePro')->__('
                For New ASIN/ISBN Creation you should select a prepared Description Policy, where New ASIN/ISBN Creation feature is obviously <strong>Enabled</strong>.<br/>
                If Description Policy cannot be assigned you will see a reason why it cannot become a base for New ASIN/ISBN Creation in <strong>Status/Reason</strong> Column.<br/><br/>

                <strong>Note:</strong> you can always add new Description Policy by pressing Add New Description Policy Button.
                '); ?>
            </div>
        <?php } ?>

        <div id="templateDescription_grid" style="margin: 10px auto; height: 380px !important; overflow-y: auto; overflow-x: hidden;">
        </div>

    </div>
</div>