<?php if ($this->canShowBlock()): ?>
    <?php if (!$this->getRequest()->isAjax()): ?>
    <div id="layered-navigation">
    <?php endif; ?>
    <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php endif; ?>">
        <!--<div class="block-title">
            <strong><span><?php echo $this->__('Shop By') ?></span></strong>
        </div>-->
        <div class="block-content toggle-content  categories text-uppercase">
            <?php echo $this->getStateHtml() ?>
            <?php if ($this->getLayer()->getState()->getFilters()): ?>
                <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
            <?php endif; ?>
            <?php if($this->canShowOptions()): ?>
                <p class="block-subtitle block-subtitle--filter"><?php echo $this->__('Filter') ?></p>
                <div id="narrow-by-list">
                    <?php $_filters = $this->getFilters() ?>
                    <?php foreach ($_filters as $_filter): ?>
                        <?php if($_filter->getItemsCount()): ?>
                    <div <?php if($_filter->getName()=='Category') {?>class="" <?php }?>><h2><?php echo $this->__($_filter->getName()) ?></h2></div>
                            <?php echo $_filter->getHtml() ?>
                     
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
    </div>
    <?php if (!$this->getRequest()->isAjax()): ?>
    </div>
    <?php endif; ?>
<?php else: ?>
<div class="block-content toggle-content  categories text-uppercase"><h2>No Categories</h2></div>
<?php endif; ?>
