<div id="block_notice_common_listings_grid" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('M2E Pro Listings'); ?>">
    <?php echo Mage::helper('M2ePro')->__('
        This Page shows the <strong>M2E Pro Listings</strong> you\'ve set up.<br/><br/>
        Click a line in the Table below to manage the Products currently Listed using that M2E Pro Listing.
        Otherwise use the Dropdown Menu in the Actions Column for more Options.<br/>
        To Clear the Logs or Delete more than one M2E Pro Listing at a time, use the Actions Dropdown at the very top of the Table.
    '); ?>
</div>