<style type="text/css">
    .ui-state-default {
        margin: 30px 0
    }

    .entry-edit-head {
        background: #6f8992; padding: 2px 10px;
    }

    h4 {
        padding: 0;background: none;margin: 0;color: #fff;font-size: 1em;line-height: 18px;min-height: 0;
    }

    fieldset {
        border: 1px solid #d6d6d6; background: #fafafa; padding: 10px 15px; margin-bottom: 15px;
    }
</style>

<div class="ui-state-default">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4><?php echo $this->getWidgetName();?></h4>
        </div>
        <fieldset class="entry-edit-content">
            <img src="<?php echo $this->getImgSrc(); ?>"/>
        </fieldset>
    </div>
</div>