<?php
/**
* @var $this Oro_Dashboard_Block_Adminhtml_Pdf
*/
?>
<div>
    <h1><?php echo $this->getDashboardName(); ?></h1>
    <?php if ($this->getDashboardDescription()): ?>
        <div><?php echo $this->__('Description:'); ?> <?php echo $this->getDashboardDescription(); ?></div>
    <?php endif; ?>
    <div><?php echo $this->__('Date Range:'); ?> <?php echo Mage::helper("oro_dashboard")->getDateFrom();?> - <?php echo Mage::helper("oro_dashboard")->getDateTo();?></div>
</div>

<?php
$graphicalFiles = $this->getGraphicalFiles();

if (is_array($graphicalFiles) && count($graphicalFiles)) {
    foreach ($graphicalFiles as $imgData) {
        echo $this->getChild('graphical')
            ->setImgSrc($imgData['src'])
            ->setWidgetName($imgData['widgetName'])
            ->toHtml();
    }
}

$textualWidgets = $this->getTextualWidgets();
if (is_array($textualWidgets) && count($textualWidgets)) {
    foreach ($textualWidgets as $widget) {
        echo $this->getChild($widget->getRawWidgetConfig()->getType())
            ->setWidget($widget)
            ->toHtml();
    }
}
?>
