<style type="text/css">
    .ui-state-default {
        margin: 30px 0
    }

    .entry-edit-head {
        background: #6f8992; padding: 2px 10px;
    }

    h4 {
        padding: 0;background: none;margin: 0;color: #fff;font-size: 1em;line-height: 18px;min-height: 0;
    }

    fieldset {
        border: 1px solid #d6d6d6; background: #fafafa; padding: 10px 15px; margin-bottom: 15px;
    }
</style>

<?php
$widgetId = $this->getWidget()->getId();
?>
<div class="ui-state-default">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4><?php echo $this->getWidgetName();?></h4>
        </div>
        <fieldset>
            <div class="left-column">
                <p class="info"><?php echo Mage::helper("oro_dashboard")->getMetricLabel($this->getMetric())?>: <strong><?php echo $this->getWidgetData();?></strong></p>
                <p class="info"><sup><?php echo Mage::helper("oro_dashboard")->getMetricLabelAvg($this->getMetric())?>: <strong><?php echo $this->getAvgWidgetData();?></strong>
                    <?php echo $this->getAvgIsPerDay()?$this->__("per day"):$this->__("per hour")?>
                </sup></p>
            </div>
        </fieldset>
    </div>
</div>