<?php
/**
* MageCore
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is published at http://opensource.org/licenses/osl-3.0.php.
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magecore.com so we can send you a copy immediately
*
* @category   MageCore
* @package    Dashboard
* @copyright  Copyright (c) 2015 MageCore Inc. (http://www.magecore.com)
* @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
*/

/**
 * @var $this Oro_Dashboard_Block_Adminhtml_Userdashboard_Widget_Table
 */
?>
<?php
    /** @var $helper Oro_Dashboard_Helper_Data */
    $helper = Mage::helper('oro_dashboard');
    $widgetId = $this->getWidget()->getId();
    $widgetData = $this->getWidgetData();
    $mainData = $widgetData->getDataMain();
    $compareData = $widgetData->getDataCompare();
?>
<style type="text/css">
    table {
        background-color: #FFFFFF;
        border-collapse: collapse;
        border: 1px solid #dadfe0;
        white-space: normal;
        width: 100%;
    }

    th, td {
        text-align: left;
        border-collapse: collapse;
        border: 1px solid #dadfe0;
        white-space: normal;
        padding: 2px 4px 2px 4px;
    }
    .ui-state-default {
        margin: 30px 0
    }

    .entry-edit-head {
        background: #6f8992; padding: 2px 10px;
    }

    h4 {
        padding: 0;background: none;margin: 0;color: #fff;font-size: 1em;line-height: 18px;min-height: 0;
    }

    fieldset {
        border: 1px solid #d6d6d6; background: #fafafa; padding: 10px 15px; margin-bottom: 15px;
    }
</style>

<div class="ui-state-default">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4><?php echo $this->getWidgetName();?></h4>
        </div>
        <fieldset class="entry-edit-content grid oro-table">
            <table class="data" cellspacing="0">
                <tr>
                    <th><?php echo $this->getGroupedByAttributeLabel();?></th>
                    <th><?php echo $helper->getMetricLabel($this->getMetric());?></th>
                    <?php if ($this->getMetricCompare()){?>
                        <th><?php echo $helper->getMetricLabel($this->getMetricCompare());?></th>
                    <?php }?>
                </tr>
                <?php if ($mainData){?>
                    <?php foreach ($mainData as $period=>$value){?>
                        <tr>
                            <td><?php echo $period;?></td>
                            <td><?php echo $value;?></td>
                            <?php if ($this->getMetricCompare()){?>
                                <td><?php echo isset($compareData[$period])?$compareData[$period]:'0';?></td>
                            <?php }?>
                        </tr>
                    <?php }?>
                <?php } else {?>
                        <tr><td colspan="<?php echo $this->getMetricCompare() ? '3' : '2' ?>"><?php echo $this->__("No data for this period");?></td></tr>
                <?php }?>
            </table>
        </fieldset>
    </div>
</div>