/* Tiny Carousel */
.slider { height: 1%; overflow:hidden; padding: 0 0 10px;   }
.slider .viewport { float: left; width: 80px; height: 84px; overflow: hidden; position: relative; }
.slider .buttons { background:url("../images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 30px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
.slider .next { background-position: 0 0; margin: 30px 0 0 10px;  }
.slider .disable { visibility: hidden; }
.slider .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
.slider .overview li{ float: left; margin: 0 8px 0 0; padding: 1px; height: 80px; border: 1px solid #dcdcdc; width: 80px;}
