<?php
$banners=$this->getCollection();
//echo $banners->count();
?>
<div class="banner-section">
		<div class="container">
            	<div class="col-sm-12 home-banner banner-slider ">
                	<ul class="bxslider">
		<?php foreach($banners as $slider){ ?>
                            <li>
                                <div class="banner-slide"><a href="<?php echo $slider->getUrl()?>" target="_blank"> 
                                <img src="<?php echo $this->resizeImg($slider->getImage(),890,430)?>" alt="<?php echo $slider->getTitle(); ?>" />
                            </a></div>
                            </li>
                <?php }?>
                      
                      
                    </ul>
                 <div class="controls">
                        <div class="prev" id="prevhome">Previous</div>
                    <div class="next" id="nexthome">Next</div>
                </div>
                </div>
                
        
                
                </div>

	</div>
