@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:1200px){
    .col-lg-15 {
        width: 20%;
        float: left;
    }
	.nav > li > a{
		padding-left:10px;
		padding-right:10px;
	}
}
@media only screen and (max-width:1024px) and (min-width: 768px){
	.catalog-product-view .product-essential .col-xs-12.col-md-5{
		width:40%;	
	}
	.catalog-product-view .product-essential .col-xs-12.col-md-7.pro-desc-cont{
		width:60%;	
	}
	.catalog-product-view .product-essential .col-xs-12.col-md-7.pro-desc-cont .ratings{
		width:145px;	
	}
	.catalog-product-view .product-essential .old-price,.catalog-product-view .product-essential .special-price,.catalog-product-view .product-essential .regular-price{
		text-align:left !important;	
	}
	.catalogsearch-result-index .page-title h1{
		margin-top:-7px !important;	
	}
	.catalogsearch-result-index .toolbar span.select-wrapper{
		width:49%;	
	}
	.catalogsearch-result-index .toolbar .sort-by{
		width:72%;	
	}
	.catalogsearch-result-index .sorter > .sort-by .sort-by-switcher {
		display: inline-block;
		float: right;
		height: 30px;
		width: 17px;
	}
	ol.products-list .old-price,ol.products-list .special-price,ol.products-list .regular-price{
		text-align:left !important;	
	}
	.contacts-index-index .contact-form .control-label.col-md-2{
		width:24.667%;	
	}
	.contacts-index-index .contact-form .col-md-10 {
		width: 75.333%;
	}
	.contacts-index-index .col-md-offset-2{
		margin-left:24.667%;	
	}
	.please-wait{
		right:0;	
	}
	#header-cart{
		right:auto;
		left:0;	
	}
	.header-minicart .minicart-actions .cart-link {
		bottom: 0;
		float: left;
		left: 0;
		right: auto;
		top: 7px;
	}
	.site-footer .newsletter .btn{
		font-size:14px;	
	}
	#header-cart.skip-active{
		right:auto;	
	}
	.catalog-product-view .pro-details-desc .qty-cart-wishlist .add-to-cart .btn-default{
		font-size:12px;	
	}
	.catalog-product-view .pro-details-desc .qty-cart-wishlist .add-to-wishlist .btn-default{
		font-size:11px;
	}
	.catalog-product-view .pro-details-desc .qty-cart-wishlist .add-to-wishlist .btn-default i{
		position: relative;
    	top: 3px;	
	}
	#bs-example-navbar-collapse-1 ul.nav-primary.nav.navbar-nav{
		box-sizing: border-box;
    	padding-left: 15px;	
	}
	header .navbar.navbar-inverse .collapse.navbar-collapse.main-nav .navbar-nav > li:first-child > a {
		padding-left: 25px;
	}
	.customer-account-index .actions .button.btn-cart{
		float:left;	
	}
	.customer-account-index .site-footer{
		margin-top:20px;	
	}
	.sales-order-history .actions .button.btn-cart{
		float:left;	
	}
	.opc-index-index .discount-form label{
		display:block;	
	}
	
}

@media only screen and (max-width:992px){
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
	.navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
	.header-search{
		width:350px;
	}
	.product-block figcaption h2{
		font-size:18px;
	}
	.product-block figcaption p{
		font-size:15px;
	}
	.site-footer .social-icons ul li{
		width:35px;
		height:35px;
		line-height:35px;
		margin-right:2px;
	}
	.contact-form {
	  border-left: 1px solid #cccccc;
	  float: right;
	  margin-bottom: 60px;
	  padding-left: 30px;
	  padding-right: 0;
	}
	.visible-xs, .visible-sm, .visible-md, .visible-lg {
	  display: block !important;
	}
	.countcart {
		display:block !important;
		text-transform:uppercase !important;
	}
	.skip-cart {
		display:none !important;
	}
	.sorter{
		width:54%;	
	}
	.toolbar .sort-by{
		float: left;
		margin-top: 4px;
		width: 70%;	
	}
	.toolbar .sort-by label{
		font-size: 14px;
    	line-height: 30px;	
	}
	.toolbar span.select-wrapper{
		width: 36%;	
	}
	.pager .count-container strong{
		font-size:14px;	
	}
	.pager .limiter label{
		font-size: 13px;
    	line-height: 30px;
	}
	.pager{
		margin-top:3px;	
	}
	.limiter{
		width:115px;	
	}
	.catalog-category-view .toolbar{
		padding-bottom:8px;	
	}
	.toolbar .view-mode{
		margin-top:3px;	
	}
}

@media (min-width: 768px) {
	.col-sm-15 {
        width: 20%;
        float: left;
    }
	.cart-list table td:nth-child(2) .pr {
		display:none;	
	}
	.cart-list table td:nth-child(3) .qty {
		display:none;	
	}
	.cart-list table td:nth-child(4) .sub {
		display:none;	
	}
	
}

@media only screen and (max-width:767px){
	.logo-cont .logo{
		float:none;
		text-align:center;
	}
	.logo-cont .logo a{
		float:none;
		display:inline-block;
		max-width:100%;
	}
	.logo-cont .logo img {
	  max-width: 100%;
	}
	.header-search{
		width:auto;
	}
	.main-product .col-sm-4{
		margin-bottom:10px;
	}
	.col-md-15 {
        width: 100%;
        float: none;
    }
/*=========================== 090215 ===========================*/
	.details-tab .nav-tabs > li > a {
	  border-radius: 0;
	  color: #414141;
	  font: 600 12px/20px "Open Sans",sans-serif;
	}
	.pro-desc-cont {
	  padding-top:30px;
	  text-align:center;
	}
	.pro-details-desc .pro-desc-cont h1 {
		font:400 18px/28px 'Open Sans', sans-serif;
		color:#114666;
		margin:0;
		padding:0;
	}
	.pro-details-desc .pro-desc_pic {
	    border: 1px solid #e1e1e2;
	    margin-left: 0;
	}
	.pro-details-desc .qty-cart-wishlist .qty {
		width:100%;	
		padding-bottom:20px;
	}
	.pro-details-desc .qty-cart-wishlist .add-to-cart {
		padding:0 7px 20px 7px;
	}
	.featured-products h2 {
	  background: url("../images/border-double.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
	  color: #114666;
	  font-size: 23px;
	  font-weight: 400;
	  padding-bottom: 20px;
	  margin-bottom:0;
	}
	.title h1 {
	  color: #114666;
	  font: 500 23px/30px "Open Sans",sans-serif;
	  text-align: center;
	}
	.cart-list {
	  clear: both;
	  display: block;
	  float: none;
	  margin: 0 -15px;
	  padding: 0;
	  width: auto;
	}
	.cart-list thead {
		display:none;
	}
	.cart-list table tr {
	  position:relative;
	}
	.cart-list table td .pro-picture {
	  border: 0 solid #cecece;
	  display: inline-block;
	  text-align: center;
	  vertical-align: top;
	  width: 100%;
	}
	.cart-list table td .pro-details {
	  display: inline-block;
	  padding: 15px 0 0;
	  text-align: center;
	  vertical-align: top;
	  width: 100%;
	}
	.cart-list table td:nth-child(1) {
	  float: left;
	  text-align: left;
	  width: 100%;
	  padding-bottom:10px;
	}
	.cart-list table td .pro-details .pro-title {
	  color: #00a3d9;
	  font: 500 15px/24px "Open Sans",sans-serif;
	  text-transform: uppercase;
	  padding-bottom:10px;
	}
	.cart-list table td:nth-child(2) {
	  color: #414141;
	  float:left;
	  font: 500 16px/24px "Open Sans",sans-serif;
	  text-align: center;
	  width: 100%;
	  padding:0;
	}
	.cart-list table td:nth-child(3) {
	  float: left;
	  text-align: center;
	  width: 100%;
	  padding:15px 0;
	}
	.cart-list table td:nth-child(3) div {
	  display:inline-block;
	  vertical-align:top;
	}
	.cart-list table td:nth-child(3) input {
	  border: 1px solid #cecece;
	  clear: both;
	  color: #414141;
	  display: inline-block;
	  font: 600 16px/24px "Open Sans",sans-serif;
	  height: 34px;
	  text-align: center;
	  margin:0 2px 0 4px;
	  width: 54px;
	}
	.cart-list table td:nth-child(4) {
	  color: #414141;
	  float:left;
	  font: 600 16px/24px "Open Sans",sans-serif;
	  text-align: center;
	  width: 100%;
	  padding:0 0 20px 0;
	  border-bottom:1px solid #cecece;
	}
	.cart-list table td:nth-child(5) {
	  float: none;
	  text-align: right;
	  width: auto;
	  position:absolute;
	  top:0;
	  right:0;
	}
	.cart-list table td {
	  border-bottom: 0 solid #cecece;
	  padding: 20px 0;
	  vertical-align: top;
	}
	.cart-list .continue-shopping {
	  clear: both;
	  color: #00a3d9;
	  display: block;
	  font: 500 18px/24px "Open Sans",sans-serif;
	  padding: 20px 0;
	  text-align: center;
	  text-transform: uppercase;
	  width: 100%;
	}
	.checkout-box {
	  padding-left: 0;
	  padding-right: 0;
	  text-align: center;
	}
	.review-list {
	  clear: both;
	  display: block;
	  text-align: center;
	}
	.featured-products {
	  margin: 30px 0;
	}
	.details-tab .tab-pane.fade.in {
		text-align:center;
	}
	.cms-container {
		text-align:center;
	}
	.contact-form {
	  border-left: 0 solid #cccccc;
	  float: right;
	  margin-bottom: 20px;
	  padding-left: 0;
	  padding-right: 0;
	  text-align: left;
	}
	.contact-form .col-sm-offset-3 {
	  text-align:center;	
	}
	.contact-info {
	  color: #7c7c7c;
	  float: left;
	  font: 500 16px/32px "Open Sans",sans-serif;
	  padding-bottom: 50px;
	  padding-left: 0;
	}
	.site-footer .social-icons ul {
	  margin: 0;
	  padding: 0;
	  text-align: center;
	}
	.site-footer .footer-top ul {
	  margin: 0;
	  padding: 0;
	  text-align: center;
	}
	.site-footer .footer-top h3 {
	  color: #114666;
	  font-size: 16px;
	  font-weight: 400;
	  margin: 0 0 15px;
	  text-align: center;
	}
	.footer-top .newsletter {
		padding-top:25px;
	}
	/*.....added on 11.2.2015.........*/
	.sorter{
		width:100%;	
	}
	ol.products-list .old-price,ol.products-list .special-price,ol.products-list .regular-price{
		text-align:left !important;
		font-size:14px;
		font-weight:400;	
	}
	.featured-products ol.products-list .product-name{
		margin-top:0;
		padding-bottom:0;	
	}
	ol.products-list .product-name a{
		font-size:16px;	
	}
	.featured-products ol.products-list .price{
		font-size: 17px;
    	font-weight: 400;	
	}
	.catalog-product-view .zoomtracker{
		display:none !important;	
	}
	.catalog-product-view .review-form .post .star{
		width:100%;	
	}
	.catalog-product-view .featured-products .row{
		width:240px;
		margin: 0 auto;	
	}
	.catalog-product-view .review-rating{
		width:100%;	
	}
	.catalog-product-view .floated_element{
		float:none !important;
		display:inline-block;	
	}
	.catalog-product-view .ratings-table{
		margin: 10px auto 0;	
	}
	.catalog-product-view .review-list-item{
		float:left;
		width:100%;
		margin-top:10px;	
	}
	.checkout-cart-index .cart-list table td .pro-picture a.product-image{
		display:inline-block;	
	}
	.checkout-cart-index .cart-totals{
		padding-bottom:0;	
	}
	#discount-coupon-form .field-wrapper{
		width: 100%;	
	}
	.checkout-cart-index #discount-coupon-form .input-text{
		width: 68%;	
	}
	#discount-coupon-form .field-wrapper .button-wrapper{
		width: 32%;	
	}
	.checkout-cart-index .featured-products {
		margin: 30px auto 0;
		width: 210px;
	}
	.checkout-cart-index .featured-products .bx-viewport{
		height:350px !important;	
	}
	.catalogsearch-result-index .toolbar span.select-wrapper {
		width: 48%;
	}
	.catalogsearch-result-index .sorter > .sort-by .sort-by-switcher {
		display: inline-block;
		float: right;
		height: 30px;
		width: 17px;
	}
	footer .copyright{
		clear:both;	
	}
	.customer-account-login .col2-set .col-1.new-users .buttons-set{
		text-align:center;	
	}
	.customer-account-login .col2-set .col-1.new-users{
		padding-right:0;	
	}
	.customer-account-login .col2-set .col-2.registered-users .buttons-set{
		text-align:center;	
	}
	.customer-account-login .col2-set .col-2.registered-users{
		padding-left:0;
		border-left:none;
		border-top:1px solid #ccc;	
	}
	.contacts-index-index .contact-form .col-md-10,.contacts-index-index .contact-form .control-label.col-md-2 {
		width: 100%;
	}
	.contact-form .col-sm-offset-3{
		margin-left:0;	
	}
	.please-wait {
		margin-bottom: 0;
		position: relative;
		top: auto;
	}
	header #nav .container{
		padding-left:15px;	
	}
	#header-cart{
		right:auto;
		left:10px;	
	}
	.cms-index-index .featured-products > .row{
		width:230px;
		margin:20px auto 0;	
	}
	.cms-index-index .featured-products .bx-viewport{
		height:350px !important;	
	}
	.footer-top .col-xs-12.col-sm-4:last-child{
		margin-top:15px;
		clear:both;	
	}
	header .navbar.navbar-inverse .collapse.navbar-collapse.main-nav .navbar-nav > li:first-child > a{
		padding-left:25px;	
	}
	.toolbar span.select-wrapper{
		height:33px;	
	}
	.customer-account-index .dashboard .col2-set .col-1 .box-title a,.customer-account-index .dashboard .col2-set .col-2 .box-title a{
		right:auto;
		position:relative;
		padding-left:0;
		display:block;
		padding-top:10px;	
	}
	.site-footer .newsletter .form-control{
		font-size:11px;	
	}
	.catalog-product-view .pro-details-desc .qty-cart-wishlist .add-to-cart{
		padding-bottom:0;
		margin-bottom: 13px;	
	}
	.post .post-btn .btn.btn-default{
		float:left;	
	}
	tr.last .a-right .price{
		padding-left:0 !important;	
	}
	.toolbar span.select-wrapper {
		width: 48%;
		margin-top:3px;
	}
	.toolbar .sort-by label {
		font-size: 11px;
	}
	.opc-wrapper-opc .opc-col-left .fields .field {
		margin-right: 0 !important;
		width: 100% !important;
	}
}
@media only screen and (min-width:993px) {
	.cart-section .col-md-9 {
	  width: 74%;
	}
	.cart-section .col-md-3 {
	  width: 26%;
	}
	.nav-primary > li:hover {
	  background:#114666;
	}
	.navbar-inverse .navbar-nav > li:hover > a, .navbar-inverse .navbar-nav > li:focus > a {
		color:#FFFFFF;
	}
	.countcart {
		display:none !important;
	}
	.checkout-cart-index #discount-coupon-form .input-text{
		width: 68%;	
	}
	#discount-coupon-form .field-wrapper .button-wrapper{
		width: 32%;	
	}
	
}
@media only screen and (min-width:993px) and (max-width:1024){
		.catalogsearch-result-index .toolbar span.select-wrapper {
    	width: 64%;
	}
}













