body { margin:0; padding:0; font:14px/18px 'OpenSansRegular'; color:#414141;  }



.top-bar { width:100%; float:left; margin:0; padding:0; display:block; }

.top-bar ul { width:100%; float:left; margin:0; padding:0; list-style:none; }

.top-bar ul li { display:inline-block; margin:0; padding:0; list-style:none; font:14px/18px 'OpenSansBold'; color:#FFFFFF; }

.top-bar ul li a { font:14px/18px 'OpenSansBold'; color:#FFFFFF; }

.top-bar ul li.lft { float:left; }

.top-bar ul li.rgt { float:right; }

.top-bar ul li.cust-sup { font-family:'OpensansSemibold'; }

.top-bar ul li.phone-no { font-size:15px; background:url(../images/icon1.png) 15px 4px no-repeat; padding:0 0 0 35px; }

.top-bar ul li.email { font-size:15px; background:url(../images/icon2.png) 15px 5px no-repeat; padding:0 0 0 35px; text-transform:none; }

.top-bar ul li.cart { background:url(../images/icon6.png) 15px 3px no-repeat; padding:0 0 0 35px; position:relative; }

.top-bar ul li.cart a:hover { text-decoration:none !important; }

.top-bar ul li.cart span { display:inline-block; font:14px/18px 'OpenSansBold'; color:#FFFFFF; }

.top-bar ul li.cart .skip-cart { background:none; position:static; float:left; margin:0; padding:0; height:auto; outline:none; }

.top-bar ul li.cart span.count { font:14px/18px 'OpenSansBold'; color:#FFFFFF; }

.top-bar ul li.cart span.label { margin:0; padding:0; }

.top-bar ul li.gift { background:url(../images/icon5.png) 15px 3px no-repeat; padding:0 0 0 35px; }

.top-bar ul li.sign-up { background:url(../images/icon4.png) 15px 3px no-repeat; padding:0 0 0 33px; }

.top-bar ul li.log-in { background:url(../images/icon3.png) 15px 5px no-repeat; padding:0 0 0 35px; }



.topbar { width:100%; float:left; margin:0; padding:0; display:none; }

.topbar ul { width:100%; float:left; margin:0; padding:0; list-style:none; text-align:center; }

.topbar ul li { display:inline-block; margin:0 !important; padding:0 !important; list-style:none; font-size:0; }

.topbar ul li a { width:23px; height:23px; float:left; outline:none; margin:0 !important; padding:0 !important; }

.topbar ul li.sp-cart { width:25px; height:23px; background:url(../images/icon10.png) 0 0 no-repeat; margin:0 10px !important; padding:0 !important; }

.topbar ul li.sp-cart a { width:25px; height:23px; }

.topbar ul li.sp-cart span { display:none; }

.topbar ul li.gift { width:23px; height:23px; background:url(../images/icon9.png) 0 0 no-repeat; margin:0 10px !important; padding:0 !important; }

.topbar ul li.sign-up { width:23px; height:23px; background:url(../images/icon8.png) 0 0 no-repeat; margin:0 10px !important; padding:0 !important; }

.topbar ul li.log-in { width:23px; height:23px; background:url(../images/icon7.png) 0 0 no-repeat; margin:0 10px !important; padding:0 !important; }

.topbar ul li.log-out { width:23px; height:23px; background:url(../images/icon11.png) 0 0 no-repeat; margin:0 10px !important; padding:0 !important; }



.page-header { margin: 0; width:100%; max-width: 100%; padding: 0; display:block; clear:both; border-bottom:none; }

/*.logo { width:100%; float:left; margin:0; padding:20px 0 0 0; }*/

.top-nav { width:100%; float:left; margin:0; padding:20px 0 0 0; }

.top-nav ul { width:100%; float:left; margin:0; padding:0; list-style:none; text-align:right; text-transform:uppercase; }

.top-nav ul li { display:inline-block; margin:0; padding:0 0 0 16px; list-style:none; font:14px/18px 'OpensansSemibold'; color:#828282; }

.top-nav ul li a { font:14px/18px 'OpensansSemibold'; color:#828282; text-decoration:none; }

.top-nav ul li a:hover { color:#000000; text-decoration:none; }



.search-box { width:75%; float:right; margin:0; padding:20px 0 0 0; }

.search-box button.search-button { width:auto !important; padding:0 12px 0 31px !important; font:16px/20px 'OpenSansBold' !important; color:#FFFFFF !important; background:#1f99de !important; text-indent:inherit !important; }

.search-box button.search-button:before { background-position: 10px -192px !important; content: "" !important; height: 30px !important; left: 0 !important; margin-left: 0 !important; margin-top: -15px !important; position: absolute !important; top: 50% !important; width: 35px !important; }



#header-nav { width:100%; border-bottom: none; border-top:1px solid #eee; display:table; clear:both; margin:25px 0 0 0; padding:10px 0 5px 0; }

#header-nav .container { padding:0; }



.banner-section { display:block; margin:0; padding:0; clear:both; overflow:hidden; }

.banner-section .container { width:100%; float:left; margin:0; padding:0; }

.banner-section .banner-slider { padding:0; margin:0; }

.banner-section .banner-slider ul {display:block; margin:0; padding:0; list-style:none; }

/*.banner-section .banner-slider ul li { width:100%; float:left; margin:0; padding:0; list-style:none; }

.banner-section .banner-slider ul li img { width:100%; min-height:430px; float:left; margin:0; padding:0; }*/

.home-banner .banner-slide img{width:100%;}

.banner-section .controls .prev { position:absolute; left:25px; top:50%; /*margin-top:-41px;*/ }

.banner-section .controls .prev { width:25px; height:41px; font-size:0px; cursor:pointer; outline:none; opacity:0.33; background:url(../images/prev.png) 0 0 no-repeat; }

.banner-section .controls .prev:hover { background:url(../images/prev.png) 0px 0 no-repeat; opacity:0.9;}

.banner-section .controls .next { position:absolute; right:30px; top:50%; /*margin-top:-41px;*/ }

.banner-section .controls .next { width:25px; height:41px; font-size:0px; cursor:pointer; outline:none; opacity:0.33; background:url(../images/next.png) 0 0 no-repeat; }

.banner-section .controls .next:hover { background:url(../images/next.png) 0 0 no-repeat; opacity:0.9; }

.banner-section .categories { margin:0; padding:0; }

.banner-section .categories .cate-list { width:100%; float:left; margin:7px 0 0 0; padding:0; position:relative; }

.banner-section .categories .cate-list:first-child { width:100%; float:left; margin:0 0 0 0; padding:0; position:relative; }

.banner-section .categories .cate-list a { outline:none; display:block; clear:both; overflow:hidden; text-align:center; margin:0; padding:20px; text-transform:uppercase; }

.banner-section .categories .cate-list .cate-details { display:block; clear:both; overflow:hidden; text-align:center; margin:0; padding:22px 0; text-transform:uppercase; }

.banner-section .categories .cate-list .sale { background:rgba(131,222,31,0.6); }.banner-section .categories .cate-list .orange { background:rgba(222,112,31,0.7); }.banner-section .categories .cate-list .red { background:rgba(222,31,100,0.7); }

.banner-section .categories .cate-list:hover .sale { background:rgba(131,222,31,0.8); }.banner-section .categories .cate-list:hover .orange { background:rgba(222,112,31,0.9); }.banner-section .categories .cate-list:hover .red { background:rgba(222,31,100,0.9); }

.banner-section .categories .cate-list .cate-details .col-1 { width:100%; float:left; margin:0; padding:0; font:48px/52px 'LatoLight'; color:#FFFFFF; }

.banner-section .categories .cate-list .cate-details .col-1 span { display:inline-block; font:48px/52px 'LatoBlack'; color:#FFFFFF; }

.banner-section .categories .cate-list .cate-details .col-2 { width:100%; float:left; margin:0; padding:0; font:20px/24px 'LatoBold'; color:#FFFFFF; }

.banner-section .categories .cate-list .cate-pic { width:100%; height:100%; position:absolute; z-index:-1; left:0; top:0; margin:0; padding:0; }

.banner-section .categories .cate-list .cate-details .col-3 { width:100%; float:left; margin:0; padding:0; font:25px/28px 'LatoLight'; color:#FFFFFF; }

.banner-section .categories .cate-list .cate-details .col-3 span { font:36px/40px 'LatoBlack'; color:#FFFFFF; }

.banner-section .categories .cate-list .cate-details .col-1-new { width:100%; float:left; margin:0; padding:0; }

.banner-section .categories .cate-list .cate-details .col-1-new div { width:auto; margin:0; padding:0; display:inline-block; text-align:right; }

.banner-section .categories .cate-list .cate-details .col-1-new div img { float:right; margin:0 14% -8px 0; }

.banner-section .categories .cate-list .cate-details .col-1-new div span { width:100%; float:left; text-align:center; font:48px/49px 'LatoBlack'; color:#FFFFFF; }

.banner-section .categories .cate-list .cate-details .col-1-bestdeal { padding-bottom:8px; text-align:center; }

.banner-section .categories .cate-list .cate-details .col-1-bestdeal img { display:inline-block; }

.bx-viewport { height:auto !important; }

.featured_products { float: left; margin: 0; padding: 60px 0; position: relative; width: 100%; }

.featured_products h2 { border-bottom: 3px solid #56b2e6; color: #414141; font-family: "OpensansLight",Arial; font-size: 24px; margin: 0 0 20px 0; padding: 0 0 15px 0; text-transform: uppercase; width: 100%; display:block; clear:both; }

.featured_products_list .featured_products_item { position:relative; min-height:340px; padding:10px 10px 50px 10px; border: 1px dotted #FFFFFF; }

.featured_products_list .featured_products_item:hover { border: 1px dotted #989898; }

.featured_products_list .featured_products_item .product_pic { float: left; height: 190px; line-height: 190px; text-align:center; position:relative; margin: 0; padding: 0; text-align: center; width: 100%; }

.featured_products_list .featured_products_item .product_pic img { display:inline-block; max-width:98%; max-height: 190px; border:1px solid #f2f2f2; }

.featured_products_list .featured_products_item .product_pic img.product_pic_sp { position:absolute; left:-9px; top:7px; z-index:10; border:0; }

.featured_products_list .featured_products_item h3 { color: #1f99de; float: left; font-family: "OpenSansRegular",Arial; font-size: 16px; overflow:hidden; margin: 0; padding: 10px 0 0; text-align: center; height:48px; width: 100%; }

.featured_products_list .featured_products_item .model_no { color: #6b6b6b; float: left; font-family: "OpenSansSemibold",Arial; font-size: 12px; margin: 0; padding: 5px 0 0; text-align: center; width: 100%; }

.featured_products_list .featured_products_item .price { color: #c60e0e; float: left; font-family: "OpenSansSemibold",Arial; font-size: 16px; margin: 0; padding: 5px 0 0; text-align: center; width:100%; }

.featured_products_list .featured_products_item .buttons { position:absolute; bottom:0; width:91%; text-align:center; margin:0; padding:0; }

.featured_products_list .featured_products_item .buttons .btn1 { width:29px; height:30px; display:inline-block; margin:0 2px; padding:0; cursor:pointer; background:url(../images/cart.png) 0 0 no-repeat; }

.featured_products_list .featured_products_item .buttons .btn1:hover {  background:url(../images/cart.png) -29px 0 no-repeat; }

.featured_products_list .featured_products_item .buttons .btn2 { width:30px; height:30px; display:inline-block; margin:0 2px; padding:0; cursor:pointer; background:url(../images/wishlist.png) 0 0 no-repeat; }

.featured_products_list .featured_products_item .buttons .btn2:hover {  background:url(../images/wishlist.png) -30px 0 no-repeat; }

.featured_products_list .featured_products_item .buttons .btn3 { width:29px; height:30px; display:inline-block; margin:0 2px; padding:0; cursor:pointer; background:url(../images/compare.png) 0 0 no-repeat; }

.featured_products_list .featured_products_item .buttons .btn3:hover {  background:url(../images/compare.png) -29px 0 no-repeat; }

.featured_products .bx-wrapper { width:100% !important; max-width:100% !important; }

.featured_products .controls { position: absolute; right: 0; top: 60px; width: auto; }

.featured_products .controls .prev { background: url("../images/fr-prev.png") 0 0 no-repeat; cursor: pointer; margin-right:5px; float: left;  font-size: 0; height: 31px; width: 31px; }

.featured_products .controls .next { background: url("../images/fr-next.png") -31px 0 no-repeat; cursor: pointer; float: right; font-size: 0; height: 31px;  width: 31px; }

.featured_products .controls .prev:hover { background-position:-31px 0; }

.featured_products .controls .next:hover { background-position:0 0; }



.new_products { float: left; margin: 0; padding: 0 0 60px 0; position: relative; width: 100%; }

.new_products h2 { border-bottom: 3px solid #56b2e6; color: #414141; font-family: "OpensansLight",Arial; font-size: 24px; margin: 0 0 20px 0; padding: 0 0 15px 0; text-transform: uppercase; width: 100%; display:block; clear:both; }

.new_products_list .new_products_item { position:relative; min-height:340px; padding:10px 10px 50px 10px; border: 1px dotted #FFFFFF; }

.new_products_list .new_products_item:hover { border: 1px dotted #989898; }

.new_products_list .new_products_item .product_pic { float: left; height: 190px; line-height: 190px; text-align:center; position:relative; margin: 0; padding: 0; text-align: center; width: 100%; }

.new_products_list .new_products_item .product_pic img { display:inline-block; max-width:98%; max-height: 190px; border:1px solid #f2f2f2; }

.new_products_list .new_products_item .product_pic img.product_pic_sp { position:absolute; left:-9px; top:7px; z-index:10; border:0; }

.new_products_list .new_products_item h3 { color: #1f99de; float: left; font-family: "OpenSansRegular",Arial; font-size: 16px; overflow:hidden; margin: 0; padding: 10px 0 0; text-align: center; height:48px; width: 100%; }

.new_products_list .new_products_item .model_no { color: #6b6b6b; float: left; font-family: "OpenSansSemibold",Arial; font-size: 12px; margin: 0; padding: 5px 0 0; text-align: center; width: 100%; }

.new_products_list .new_products_item .price { color: #c60e0e; float: left; font-family: "OpenSansSemibold",Arial; font-size: 16px; margin: 0; padding: 5px 0 0; text-align: center; width:100%; }

.new_products_list .new_products_item .buttons { position:absolute; bottom:0; width:91%; text-align:center; margin:0; padding:0; }

.new_products_list .new_products_item .buttons .btn1 { width:29px; height:30px; display:inline-block; margin:0 2px; padding:0; cursor:pointer; background:url(../images/cart.png) 0 0 no-repeat; }

.new_products_list .new_products_item .buttons .btn1:hover {  background:url(../images/cart.png) -29px 0 no-repeat; }

.new_products_list .new_products_item .buttons .btn2 { width:30px; height:30px; display:inline-block; margin:0 2px; padding:0; cursor:pointer; background:url(../images/wishlist.png) 0 0 no-repeat; }

.new_products_list .new_products_item .buttons .btn2:hover {  background:url(../images/wishlist.png) -30px 0 no-repeat; }

.new_products_list .new_products_item .buttons .btn3 { width:29px; height:30px; display:inline-block; margin:0 2px; padding:0; cursor:pointer; background:url(../images/compare.png) 0 0 no-repeat; }

.new_products_list .new_products_item .buttons .btn3:hover {  background:url(../images/compare.png) -29px 0 no-repeat; }

.new_products .bx-wrapper { width:100% !important; max-width:100% !important; }

.new_products .controls { position: absolute; right: 0; top: 0; width: auto; }

.new_products .controls .prev { background: url("../images/fr-prev.png") 0 0 no-repeat; cursor: pointer; margin-right:5px; float: left;  font-size: 0; height: 31px; width: 31px; }

.new_products .controls .next { background: url("../images/fr-next.png") -31px 0 no-repeat; cursor: pointer; float: right; font-size: 0; height: 31px;  width: 31px; }

.new_products .controls .prev:hover { background-position:-31px 0; }

.new_products .controls .next:hover { background-position:0 0; }



.footer-top { width:100%; float:left; margin:0; padding:30px 0; background:#e9eff3; }

.footer-top .block-title { width:100%; float:left; margin:0; padding:0 0 15px 0; font:20px/30px 'OpenSansRegular'; color:#1f99de; border:0; text-transform:capitalize; }

.footer-top .quick-links { width:45%; float:left; margin:0; padding:0;}

.footer-top .quick-links ul { width:50%; float:left; margin:0; padding:0;}

.footer-top .quick-links ul li { width:100%; float:left; margin:0; padding:0 0 10px 0; font:14px/20px 'OpenSansRegular'; color:#909090; }

.footer-top .quick-links ul li a { font:14px/20px 'OpenSansRegular'; color:#909090; text-transform:uppercase; }

/*.footer-top .newsletter { width:35%; float:left; margin:0; padding:0 7% 0 0; }*/

.footer-top .newsletter .form-subscribe-header { width:100%; float:left; margin:0; padding:0 0 15px 0; font:14px/20px 'OpenSansRegular'; color:#909090; }

.footer-top .newsletter .form-subscribe-header label { width:100%; float:left; margin:0; padding:0; font:14px/20px 'OpenSansRegular'; color:#909090; }

.footer-top .newsletter .form-subscribe-header label p { width:100%; float:left; margin:0; padding:0; font:14px/20px 'OpenSansRegular'; color:#909090; }

.footer-top .newsletter .input-box { width:100%; float:left; margin:0; padding:0; }

.footer-top .newsletter input.input-text { width:70%; float:left; margin:0; padding:9px 10px; height:auto; border-radius:6px 0 0 6px; background:#FFFFFF; border:1px solid #FFFFFF; font:15px 'OpenSansRegular'; color:#535353; }

.footer-top .newsletter button.button { width:30%; float:left; margin:0; padding:10px 0; background:#1f99de; font:15px 'OpenSansSemibold'; color:#ffffff; border-radius:0 6px 6px 0; text-transform:capitalize; }

.footer-top .newsletter button.button:hover { background:#056094; }

.footer-top .connect-withus { width:20%; float:left; margin:0; padding:0; }

.footer-top .connect-withus .social-link { width:100%; float:left; margin:0; padding:0; }

.footer-top .connect-withus .social-link .facebook { width:28px; height:29px; display:inline-block; margin:0; padding:0; }

.footer-top .connect-withus .social-link .facebook a { width:28px; height:29px; float:left; margin:0; padding:0; outline:none; font-size:0; text-decoration:none; background:url(../images/facebook.png) 0 0 no-repeat; }

.footer-top .connect-withus .social-link .facebook a:hover { outline:none; text-decoration:none; background:url(../images/facebook.png) 0 -30px no-repeat; }

.footer-top .connect-withus .social-link .twitter { width:28px; height:29px; display:inline-block; margin:0; padding:0; }

.footer-top .connect-withus .social-link .twitter a { width:28px; height:29px; float:left; margin:0; padding:0; outline:none; font-size:0; text-decoration:none; background:url(../images/twitter.png) 0 0 no-repeat; }

.footer-top .connect-withus .social-link .twitter a:hover { outline:none; text-decoration:none; background:url(../images/twitter.png) 0 -30px no-repeat; }

.footer-top .connect-withus .social-link .google { width:28px; height:29px; display:inline-block; margin:0; padding:0; }

.footer-top .connect-withus .social-link .google a { width:28px; height:29px; float:left; margin:0; padding:0; outline:none; font-size:0; text-decoration:none; background:url(../images/google.png) 0 0 no-repeat; }

.footer-top .connect-withus .social-link .google a:hover { outline:none; text-decoration:none; background:url(../images/google.png) 0 -30px no-repeat; }

.footer-top .connect-withus .footer-logo { width:100%; float:left; margin:0; padding:40px 0 0 0; }

.footer-bottom { width:100%; float:left; margin:0; padding:30px 0; background:FFFFFF; border-top:1px solid #d5d5d5; }

.footer-bottom .copyright { float:left; margin:0; padding:0; font:14px/18px 'OpenSansRegular'; color:#8f8f8f; }

.footer-bottom .payment_link { float:left; margin:0; padding:0; text-align:right; }

.footer-bottom .payment_link a { outline:none; }

.footer-bottom .payment_link img { display:inline-block; margin:0 0 0 15px; padding:0; }



.shop-cart { width:100%; float:left; margin:0; padding:48px 0 0 0; border-top:1px solid #e1e1e1; }

.shop-cart .col-left { width:70%; float:left; margin:0; padding:0; }

.shop-cart .col-left .page-title { width:100%; float:left; margin:0; padding:0 0 15px 0; border-bottom:3px solid #56b2e6; }

.shop-cart .col-left .page-title h1 { width:100%; float:left; margin:0; padding:0; font:24px/28px 'OpensansSemibold'; color:#414141; }

.shop-cart .col-left .page-subtitle { width:100%; float:left; margin:0; padding:0; }

.shop-cart .col-left .page-subtitle h2 { width:100%; float:left; margin:0; padding:15px 0 0 0; font:16px/22px 'OpensansSemibolditalic'; text-transform:none; color:#414141; }

.shop-cart .carttable { width:100%; float:left; margin:0; padding:30px 0 0 0; }

.shop-cart .carttable .cart-table thead { background:#FFFFFF !important; border-top:1px solid #FFFFFF !important; }

.shop-cart .carttable .data-table th {

  font-family: "OpenSansSemibold",Arial,sans-serif;

  font-size:16px;

  text-transform: capitalize;

  white-space: nowrap;

  color:#414141;

}

.shop-cart .carttable .data-table th:first-child { padding-left:0; }

.shop-cart .carttable .cart-table .product-cart-info, .cart-table .product-cart-actions {

  border-right: 0;

  padding-left: 15px;

  vertical-align: top;

  padding-top:20px;

}

.shop-cart .carttable .cart-table .product-cart-total, .cart-table .product-cart-price {

  border-right: 0;

  text-align: center;

  vertical-align: top;

  font-family: "OpenSansRegular",Arial,sans-serif;

  font-size:15px;

  color:#414141;

  font-weight:400;

  padding-top:20px;

}

.shop-cart .carttable .data-table thead th, .data-table tbody td {

  border-bottom: 1px solid #cecece;

}

.shop-cart .col-left .messages {

float: left;

margin: 0;

padding: 5px 0 0;

width: 100%;

}

.shop-cart .col-right { width:30%; float:left; margin:0; padding:0; }

.display-single-price .cart-table .cart-links > li { width:auto; min-width:inherit; display:inline-block; margin:0; padding:0; }

.display-single-price .cart-table .cart-links > li.edit > a { width:20px; height:18px; float:left; font-size:0; background:url(../images/btn_edit.png) 0 0 no-repeat; margin:0; padding:0 2px; }

.display-single-price .cart-table .cart-links > li.wishlist > a { width:20px; height:18px; float:left; font-size:0; background:url(../images/btn_wishlist.png) 0 0 no-repeat; margin:0; padding:0 2px; }

.cart-table .product-cart-remove {

  padding-top: 25px;

  vertical-align: top;

}

.checkout-container { width:100%; float:left; margin:0;/* padding:48px 0 0 0; border-top:1px solid #e1e1e1;*/ }

.checkout-container .page-title { width:100%; display:block; margin:0; padding:0 0 15px 0; border-bottom:3px solid #56b2e6; }

.checkout-container .page-title h1 { width:100%; display:block; margin:0; padding:0; font:24px/28px 'OpensansSemibold'; color:#414141; }

.checkout-container .fill-fields { width:100%; display:block; margin:0; padding:15px 0 30px 0; font:15px/20px 'OpensansSemibolditalic'; color:#414141; }

.checkout-container .fill-fields a { font:16px/20px 'OpenSansBold'; color:#1f99de; text-transform:uppercase; text-decoration:none; }

.checkout-container .fill-fields a:hover { text-decoration:underline; color:#1f99de; }

.checkout-container .form-list .field { width:100% !important; }

.checkout-container .form-list .field input.input-text { width:100% !important; border:1px solid #cccccc; padding:2px 5px; height:auto; }

.checkout-container .form-list .wide { width:100% !important; }

.checkout-container .form-list .wide input.input-text { width:100% !important; border:1px solid #cccccc; padding:2px 5px; height:auto !important; }



.checkout-container .opc-wrapper-opc .opc-col-left .wide input[type="text"] {

  border: 1px solid #cccccc !important;

  height: auto !important;

  padding: 2px 5px !important;

  width: 100%;

}

.checkout-container .opc-wrapper-opc label {

	font-size: 14px !important;

	font-family: "OpenSansRegular", Arial !important;

	color:#717171 !important;

	font-weight: 400 !important;

}

.checkout-container .opc-wrapper-opc label.required::after, .checkout-container .opc-wrapper-opc span.required::after {

	font-size: 14px !important;

	font-family: "OpenSansBold", Arial !important;

	color:#ba1515 !important;

	font-weight: 600 !important;

}

.checkout-container .opc-wrapper-opc .not_australia { display:none; }

.checkout-container .opc-col-left .input-box .select-wrapper select {

  float: left;

  font: 14px/20px "OpenSansRegular";

  height: 23px !important;

  padding: 0;

  width: 100%;

}

.checkout-container .opc-col-left .input-box .select-wrapper .holder {

  cursor: pointer;

  display: block;

  font-size: 13px;

  overflow: hidden;

  padding: 3px 5px !important;

  position: absolute;

  text-align: left;

  white-space: nowrap;

  width: 86%;

  z-index: -1;

}

.checkout-container .opc-col-center discount-block {

  background:#1f99de !important;

  border-radius:5px !important;

}

.checkout-container .opc-col-center discount-block h3 {

  border-bottom: 1px solid #75cdff;

  color: #ffffff;

  font: 16px/20px "OpensansSemibold";

  text-transform:uppercase;

  font-weight: 600;

  line-height: 1;

  margin-bottom: 20px;

  padding-bottom: 8px;

  text-align: left;

}

.checkout-container .discount-block .discount-form label { display:none; }

.checkout-container .discount-block .discount-form .input-box { width:auto !important; float:left !important; }

.checkout-container .discount-block .discount-form .buttons-set { width:auto !important; float:left !important; }



.add-to-cart-buttons .btn-cart { background:#1f99de url(../images/icon12.png) 10px 10px no-repeat !important; padding:0 12px 0 40px !important; }

.add-to-cart-buttons .btn-cart:hover { background:#454545 url(../images/icon12.png) 10px 10px no-repeat !important; padding:0 12px 0 40px !important; }

.checkout-container .opc-col-center .input-box .select-wrapper select {

  float: left;

  font: 14px/20px "OpenSansRegular";

  height: 23px !important;

  padding: 0;

  width: 100%;

}

.checkout-container .opc-col-center .input-box .select-wrapper .holder {

  cursor: pointer;

  display: block;

  font-size: 13px;

  overflow: hidden;

  padding: 3px 5px !important;

  position: absolute;

  text-align: left;

  white-space: nowrap;

  width: 86%;

  z-index: -1;

}

#output { color:#00cb00 !important; }

#error-news-msg { color:#FF0000 !important; }

.blog-title {

  border:none;

  

}

.blog-title h1 {

  border-bottom: none;

  color: #414141;

  font-family: "OpensansSemibold";

  font-size: 22px;

  font-weight: 400;

  margin: 0;

  padding:10px 0 0 0;

  padding-bottom: 3px;

  text-transform: uppercase;

}

.blog-home .post-list {

	margin-left:-17px;

	margin-right:-17px;

	padding:15px 0 0 0;

}

.blog-home .post-list .item {

	width:30%;

	display:inline-block;

	vertical-align:top;

	margin:0 18px;

	padding:0;

	list-style:none;

}

.blog-home .post-list .item .post-list-item .post-entry .featured-image {

  border: none;

  margin:0;

  padding:0;

}

.blog-home .post-list .item .post-list-item .post-entry .featured-image img {

  width:100%;

}

.blog-home .post-list .item .post-list-item .post-entry h2 {

  font: 18px/24px "LatoRegular";

  color:#1f99de;

  margin:25px 0 0 0;

  padding:0;

  font-weight:500;

  text-transform:none;

}

.blog-home .post-list .item .post-list-item .post-entry h2 a {

  font: 18px/24px "LatoRegular";

  color:#1f99de;

  font-weight:500;

  text-transform:none;

  text-decoration:none;

}

.blog-home .post-list .item .post-list-item .post-entry p {

  padding:17px 0 0 0;

   font: 14px/18px "OpenSansRegular";

  color:#5b5b5b;

}

.blog-home .post-list .item .post-list-item .post-entry .postdate {

  font: 14px/18px "OpenSansItalic";

  color:#9e9e9e;

  padding:7px 0 0 0;

}

#facacc {

  width:100%;

  float:left;

  margin:0;

  padding:0 0 30px 0;

  height:auto !important;

}

#facacc .question {

  width:100%;

  float:left;

  margin:25px 0 0 0;

  padding:0;

  cursor:pointer;

  height:auto !important;

}

#facacc .question h3 {

  width:94%;

  float:left;

  margin:0;

  padding:0 0 0 10px;

  font: 18px/24px "OpenSansRegular";

  color:#1f99de;

  text-transform:none;

}

#facacc .question span.ui-icon-triangle-1-s {

  width:16px;

  height:17px;

  float:left;

  padding:0;

  margin:3px 0 0 0;

  background:url(../images/icon-minus.png) 0 0 no-repeat;

}

#facacc .question span.ui-icon-triangle-1-e {

  width:16px;

  height:17px;

  float:left;

  padding:0;

  margin:3px 0 0 0;

  background:url(../images/icon-plus.png) 0 0 no-repeat;

}

#facacc .answer {

  width:100%;

  float:left;

  margin:0;

  padding:15px 0 0 0;

  height:auto !important;

  font: 14px/18px "OpenSansRegular";

  color:#5b5b5b;

}

.customer-account-create .page-title h1 {

  border-bottom: medium none;

  color: #414141;

  font-family: "Open Sans",sans-serif;

  font-size: 22px;

  font-weight: 500;

  margin: 0;

  padding: 10px 0 3px;

  text-transform: uppercase;

}

.customer-account-create h2 {

  color: #666666;

  font: 20px/24px "OpensansSemibold";

  text-transform: capitalize;

  border:none;

  margin:0;

  padding:0;

}

.customer-account-create .fieldset {

  width:100%;

  float:left;

  margin:0 !important;

  padding:30px 0 40px 0;

  border-bottom:1px solid #d1d1d1;

}

.customer-account-create .fieldset .form-list {

  width:100%;

  float:left;

  margin:0;

  padding:0;

}

.customer-account-create .fieldset .form-list li {

  width:100%;

  float:left;

  margin:0;

  padding:17px 0 0 0;

}

.customer-account-create .fieldset div.field:first-child {

  width:45%;

  float:left;

  margin:0;

  padding:0;

}

.customer-account-create .fieldset div.field {

  width:45%;

  float:right;

  margin:0;

  padding:0;

}

.customer-account-create .fieldset div.field label {

  width:30%;

  float:left;

  margin:0;

  padding:7px 0 0 0;

  color: #666666;

  font: 14px/18px "OpenSansRegular";

  font-weight:500;

}

.customer-account-create .fieldset .wide label {

  width:13.5%;

  float:left;

  margin:0;

  padding:7px 0 0 0;

  color: #666666;

  font: 14px/18px "OpenSansRegular";

  font-weight:500;

}

.customer-account-create .fieldset div.field label.newsletter {

  width:auto;

  float:left;

  margin:5px 0 0 0;

  padding:0 0 0 10px;

  color: #666666;

  font: 14px/18px "OpenSansRegular";

  font-weight:500;

}

.customer-account-create .fieldset div.field input.newsletter {

  float:left;

  margin:9px 0 0 1px;

  padding:0;

}

.customer-account-create .fieldset label.required::after, .customer-account-create .fieldset span.required::after {

  color: #ba1515;

  content: " *";

  font-size: 13px;

  font-weight: 600;

  font-family:"OpenSansBold", Arial;

}

.customer-account-create .fieldset div.field div.input-box {

  width:70%;

  float:left;

  margin:0;

  padding:0;

}

.customer-account-create .fieldset .wide div.input-box {

  width:86.5%;

  float:left;

  margin:0;

  padding:0;

}

.customer-account-create .fieldset .wide div.input-box div.input-box {

  width:100%;

  float:left;

  margin:17px 0 0 0;

  padding:0;

}

.customer-account-create .fieldset div.field div.input-box .input-text {

  width:100%;

  float:left;

  margin:0;

  height:auto;

  padding:6px 10px;

  border-radius:0;

  border:1px solid #cccccc;

  background:#FFFFFF;

}

.customer-account-create .fieldset .wide div.input-box .input-text {

  width:100%;

  float:left;

  margin:0;

  height:auto;

  padding:6px 10px;

  border-radius:0;

  border:1px solid #cccccc;

  background:#FFFFFF;

}

.customer-account-create .fieldset .input-box .select-wrapper {

  background: url("../images/dornarrow_arrow.png") no-repeat scroll 98% 50% #fff;

  border: 1px solid #d8d8d8;

  cursor: pointer;

  float: left;

  font: 14px/20px "OpenSansRegular";

  margin: 0;

  padding: 0;

  position: relative;

  width: 100%;

  z-index: 1;

}

.customer-account-create .fieldset .input-box .select-wrapper select {

  float: left;

  font: 14px/20px "OpenSansRegular";

  height: 34px !important;

  padding: 0;

  margin:0;

  width: 100%;

}

.customer-account-create .fieldset .input-box .select-wrapper .holder {

  cursor: pointer;

  display: block;

  font-size: 13px;

  overflow: hidden;

  padding: 7px 5px 0 !important;

  position: absolute;

  text-align: left;

  white-space: nowrap;

  width: 86%;

  z-index: -1;

}

.customer-account-create .buttons-set {

  width:100%;

  max-width:100%;

  float:left;

  background:#FFFFFF;

  text-align:left;

  margin:-1px 0 0 0;

  padding:0 0 60px 0;

  border:none;

}

.customer-account-create .buttons-set .back-link {

background: #e1e1e1;

border: 0 none;

color: #5b5b5b;

display: inline-block;

font-family: "OpensansSemibold",Verdana,Arial,sans-serif;

font-size: 16px;

font-weight: 600;

line-height: 19px;

padding:0;

float:none;

text-align: center;

text-transform: uppercase;

vertical-align: middle;

white-space: nowrap;

}

.customer-account-create .buttons-set .back-link a {

font-family: "OpensansSemibold",Verdana,Arial,sans-serif;

color: #5b5b5b;

font-size: 16px;

font-weight: 600;

line-height: 19px;

padding: 8px 20px;

margin:0;

float:left;

}

.customer-account-create .buttons-set .back-link a:hover {

text-decoration:none;

background: #454545;

color:#FFFFFF;

}

.customer-account-create .buttons-set .button {

background: #1f99de;

border: 0 none;

color: #FFFFFF;

display: inline-block;

font-family: "OpensansSemibold",Verdana,Arial,sans-serif;

font-size: 16px;

font-weight: 600;

line-height: 19px;

padding: 8px 20px;

margin:0 0 0 10px;

float:none;

text-align: center;

min-width:inherit;

width:auto;

cursor: pointer;

text-transform: uppercase;

vertical-align: middle;

white-space: nowrap;

}

.customer-account-create .buttons-set .button:hover {

background: #454545;

cursor: pointer;

}

.customer-account-create .buttons-set .required {

color: #ba1515;

display: inline-block;

font-family: "OpenSansRegular",Verdana,Arial,sans-serif;

font-size: 14px;

font-weight: 400;

line-height: 19px;

padding: 7px 0;

float:none;

text-align: center;

text-transform: capitalize;

vertical-align: middle;

white-space: nowrap;

}

.contacts-index-index .col-main {

width:100%;

float:left;

margin:0;

padding:40px 0 60px 0;

border-top:1px solid #e1e1e1;

}

.contacts-index-index .page-title h1 {

  border-bottom: medium none;

  color: #414141;

  font-family: "OpensansSemibold";

  font-size: 22px;

  font-weight: 400;

  margin: 0;

  padding: 10px 0 35px;

  text-transform: uppercase;

}

.contacts-index-index .cont-col-left {

  width:55%;

  float:left;

  margin:0;

  padding:0;

}

.contacts-index-index .cont-col-left div {

  display:block;

  color: #5b5b5b;

  font: 16px/20px "OpensansSemibold";

  text-transform: capitalize;

  border:none;

  margin:0;

  padding:20px 0 0 0;

}

.contacts-index-index .cont-col-left div.customer-service {

  display:block;

  color: #5b5b5b;

  font: 16px/20px "OpensansSemibold";

  text-transform: capitalize;

  border:none;

  margin:0;

  padding:35px 0 0 0;

}

.contacts-index-index .cont-col-left p {

  display:block;

  color: #5b5b5b;

  font: 14px/18px "OpenSansRegular";

  font-weight:400;

  text-transform: none;

  border:none;

  margin:0;

  padding:10px 0 0 0;

}

.contacts-index-index .cont-col-left a {

  color: #5b5b5b;

  font: 14px/18px "OpenSansRegular";

  font-weight:400;

  text-transform: none;

  border:none;

  text-decoration:none;

}

.contacts-index-index .cont-col-left a:hover {

  text-decoration:underline;

}

.contacts-index-index .cont-col-right {

  width:39%;

  float:right;

  margin:0;

  padding:0;

}

.contacts-index-index .cont-col-right #contactForm {

  padding-left: 0;

}

.contacts-index-index .cont-col-right .buttons-set {

  border: 0 none;

  margin-left: 0;

  max-width: 100%;

  padding:5px 0 0 30%;

  text-align:left;

}

.contacts-index-index .cont-col-right .buttons-set button.button {

  float: none;

  margin-left: 0;

  min-width: inherit;

  padding:8px 20px;

  width:auto;

}

.contacts-index-index .cont-col-right .input-box .input-text {

   width:100%;

   max-width:100%;

   background: none repeat scroll 0 0 #ffffff;

   border: 1px solid #cccccc;

   border-radius: 0;

   float: left;

   height: auto;

   margin: 0;

   padding: 6px 10px;

}

.contacts-index-index .form-list li {

   width:100%;

   float:left;

   margin:0;

   padding:0 0 17px 0;

}

.contacts-index-index .form-list li div.field:first-child {

   width:100%;

   float:left;

   margin:0;

   padding:0 0 17px 0;

}

.contacts-index-index .form-list li div.field {

   width:100%;

   float:left;

   margin:0;

   padding:0;

}

.contacts-index-index .form-list li label {

  color: #666666;

  float: left;

  font: 500 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 7px 0 0;

  width: 30%;

}

.contacts-index-index .form-list li label.required::after, .contacts-index-index .form-list li span.required::after {

  color: #ba1515;

  content: " *";

  font-family: "OpenSansBold",Arial;

  font-size: 13px;

  font-weight: 600;

}

.contacts-index-index .form-list li div.input-box {

  float: left;

  margin: 0;

  padding: 0;

  width: 70%;

}

.wordpress-post-view .post-title h1 {

  border-bottom: medium none;

  color: #414141;

  font-family: "OpensansSemibold";

  font-size: 22px;

  font-weight: 400;

  margin: 0;

  padding: 10px 0 25px;

  text-transform: uppercase;

}

.wordpress-post-view .featured-image {

  width:49%;

  float:left;

  margin:0;

  padding:0 40px 0 0;

  border:none;

}

.wordpress-post-view .featured-image img {

  width:100%;

  float:left;

  margin:0;

  padding:0;

}

.wordpress-post-view .post-view h2 {

  color: #1f99de;

  font: 500 18px/24px "LatoRegular";

  text-decoration: none;

  text-transform: none;

  padding:0;

  margin:0;

}

.wordpress-post-view .post-view .post-date {

  color: #9e9e9e;

  font: 14px/18px "OpenSansItalic";

  padding: 7px 0 0;

}

.wordpress-post-view .post-meta {

  display:none;

}

.wordpress-post-view .comments-wrapper {

  border-top:1px solid #E1E1E1;

}

.wordpress-post-view .comments-wrapper h2 {

  display:none;

}

.wordpress-post-view .comments-wrapper .comment-meta .comment-url {

  color: #9e9e9e;

  font: 500 16px/20px "OpenSansRegular";

  text-decoration: none;

  text-transform: none;

}

.wordpress-post-view .comments-wrapper .comment-meta .comment-when {

  color: #1f99de;

  font: 500 14px/18px "OpenSansItalic";

  text-decoration: none;

  text-transform: none;

}

.wordpress-post-view .comments-wrapper .comment-inner .reply {

  width:auto;

  display:inline-block;

  clear:both;

  padding:0 5px 4px;

  border:1px solid #1f99de;

}

.wordpress-post-view .legend {

  color: #414141;

  font-family: "OpensansSemibold";

  font-size: 18px;

  font-weight: 400;

}

.wordpress-post-view .buttons-set {

  padding:0 0 40px 0;

  text-align:left;

  border:none;

}

.wordpress-post-view .buttons-set .button {

 width:auto;

 float:none;

 display:inline-block;

 max-width:inherit;

 min-width:inherit;

 margin:5px 0 0 0;

}

.wordpress-post-view .fieldset li label {

  color: #666666;

  font: 500 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 7px 0 3px;

}

.wordpress-post-view .fieldset label.required::after, .customer-account-create .fieldset span.required::after {

  color: #ba1515;

  content: " *";

  font-family: "OpenSansBold",Arial;

  font-size: 13px;

  font-weight: 600;

}

.wordpress-post-view .fieldset div.input-box .input-text {

  background: none repeat scroll 0 0 #ffffff;

  border: 1px solid #cccccc;

  border-radius: 0;

  height: auto;

  margin: 0;

  padding: 6px 10px;

}

.wordpress-post-view .fieldset textarea#comment {

  background: none repeat scroll 0 0 #ffffff;

  border: 1px solid #cccccc;

  border-radius: 0;

  height: auto;

  margin: 0;

  padding: 6px 10px;

}

@media (min-width:320px) and (max-width:359px) {

.featured_products_list .featured_products_item {

  border: 1px dotted #ffffff;

  margin: 0 1.1%;

  min-height: 340px;

  padding: 10px 10px 50px;

  position: relative;

}

.new_products_list .new_products_item {

  border: 1px dotted #ffffff;

  margin: 0 1%;

  min-height: 340px;

  padding: 10px 10px 50px;

  position: relative;

}

.banner-section .banner-slider ul li img {

  float: left;

  margin: 0;

  min-height: 200px !important;

  padding: 0;

  width: 100%;

}

.product-view .add-to-cart {

  margin-bottom: 0;

  padding-bottom: 0;

}

.cart-table .product-cart-image {

  float: left;

  padding-bottom: 0;

  width: 25%;

}

.cart-table .product-cart-info, .cart-table td[data-rwd-label] {

  float: left;

  margin-left: 10px;

  width: 70%;

}

.shop-cart .carttable .cart-table .product-cart-info, .cart-table .product-cart-actions {

  border: 0 none;

  padding-left: 0;

  padding-top: 10px;

  vertical-align: top;

}

.cart-table td[data-rwd-label] {

  margin-bottom: 6px;

  padding-left: 0;

}

.shop-cart .carttable .cart-table .product-cart-total, .cart-table .product-cart-price {

  border: 0 none;

  color: #414141;

  font-family: "OpenSansRegular",Arial,sans-serif;

  font-size: 15px;

  font-weight: 400;

  padding-top: 0;

  text-align: center;

  vertical-align: top;

}

.cart-table .cart-links {

  border: 0 none;

  padding-right: 5px;

  padding-top: 10px;

  text-align: center;

}

.shop-cart .carttable .data-table thead th, .data-table tbody td {

  border-bottom: 0 none;

}

.cart-table .product-cart-info .btn-remove {

  bottom: 24px;

  float: none;

  margin: -4px 0 2px 7px;

  position: absolute;

  right: 20px;

}

.display-single-price .cart-table {

  float: none;

  width: 100% !important;

}

.opc-wrapper-opc .discount-block .input-box input.input-text {

  background: none repeat scroll 0 0 #ffffff;

  border-color: #ffffff;

  border-image: none;

  border-radius: 0;

  border-style: solid;

  border-width: 1px;

  float: left;

  height: 37px;

  margin: 0;

  width: 164px !important;

}

}

@media (min-width:360px) and (max-width:479px) {

.featured_products_list .featured_products_item {

  border: 1px dotted #ffffff;

  margin: 0 1.7%;

  min-height: 340px;

  padding: 10px 10px 50px;

  position: relative;

}

.new_products_list .new_products_item {

  border: 1px dotted #ffffff;

  margin: 0 1.3%;

  min-height: 340px;

  padding: 10px 10px 50px;

  position: relative;

}	

.banner-section .banner-slider ul li img {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.product-view .add-to-cart {

  margin-bottom: 0;

  padding-bottom: 0;

}

.cart-table .product-cart-image {

  float: left;

  padding-bottom: 0;

  width: 25%;

}

.cart-table .product-cart-info, .cart-table td[data-rwd-label] {

  float: left;

  margin-left: 10px;

  width: 70%;

}

.shop-cart .carttable .cart-table .product-cart-info, .cart-table .product-cart-actions {

  border: 0 none;

  padding-left: 0;

  padding-top: 10px;

  vertical-align: top;

}

.cart-table td[data-rwd-label] {

  margin-bottom: 6px;

  padding-left: 0;

}

.shop-cart .carttable .cart-table .product-cart-total, .cart-table .product-cart-price {

  border: 0 none;

  color: #414141;

  font-family: "OpenSansRegular",Arial,sans-serif;

  font-size: 15px;

  font-weight: 400;

  padding-top: 0;

  text-align: center;

  vertical-align: top;

}

.cart-table .cart-links {

  border: 0 none;

  padding-right: 5px;

  padding-top: 10px;

  text-align: center;

}

.shop-cart .carttable .data-table thead th, .data-table tbody td {

  border-bottom: 0 none;

}

.cart-table .product-cart-info .btn-remove {

  bottom: 24px;

  float: none;

  margin: -4px 0 2px 7px;

  position: absolute;

  right: 20px;

}

.display-single-price .cart-table {

  float: none;

  width: 100% !important;

}

.opc-wrapper-opc .discount-block .input-box input.input-text {

  background: none repeat scroll 0 0 #ffffff;

  border-color: #ffffff;

  border-image: none;

  border-radius: 0;

  border-style: solid;

  border-width: 1px;

  float: left;

  height: 37px;

  margin: 0;

  width: 164px !important;

}

}

@media (min-width:480px) and (max-width:599px) {

.cart-table .product-cart-image {

  float: left;

  padding-bottom: 0;

  width: 25%;

}

.cart-table .product-cart-info, .cart-table td[data-rwd-label] {

  float: left;

  margin-left: 10px;

  width: 70%;

}

.shop-cart .carttable .cart-table .product-cart-info, .cart-table .product-cart-actions {

  border: 0 none;

  padding-left: 0;

  padding-top: 10px;

  vertical-align: top;

}

.cart-table td[data-rwd-label] {

  margin-bottom: 6px;

  padding-left: 0;

}

.shop-cart .carttable .cart-table .product-cart-total, .cart-table .product-cart-price {

  border: 0 none;

  color: #414141;

  font-family: "OpenSansRegular",Arial,sans-serif;

  font-size: 15px;

  font-weight: 400;

  padding-top: 0;

  text-align: center;

  vertical-align: top;

}

.cart-table .cart-links {

  border: 0 none;

  padding-right: 5px;

  padding-top: 10px;

  text-align: center;

}

.shop-cart .carttable .data-table thead th, .data-table tbody td {

  border-bottom: 0 none;

}	

.cart-table .product-cart-info .btn-remove {

  bottom: 24px;

  float: none;

  margin: -4px 0 2px 7px;

  position: absolute;

  right: 20px;

}

.display-single-price .cart-table {

  float: none;

  width: 100% !important;

}

}

@media (min-width:480px) and (max-width:639px) {

.product-view .add-to-links li {

  float: left;

  margin: -3px 0 0;

}

}

@media (min-width:320px) and (max-width:768px) {

.page-header .col-sm-8 { clear:both; }

.toolbar label, .pager-no-toolbar label {

  color: #414141;

  font-family: "OpenSansRegular",Arial;

  font-size: 14px;

  font-weight: normal;

  padding: 1px 7px 0 0;

  text-transform: uppercase;

}

.sort-by .select-wrapper {

  background: url("../images/dornarrow_arrow.png") no-repeat scroll 96% 50% #fff;

  border: 1px solid #c9c9c9;

  cursor: pointer;

  float: left;

  font: 14px/20px "OpenSansRegular";

  margin: 5px 0 0;

  padding: 0;

  position: relative;

  width: 122px;

  z-index: 1;

}

.sort-by .select-wrapper select {

  float: left;

  padding: 2px 0;

  width: 100%;

}

.sort-by .select-wrapper .holder {

  color: #818181;

  cursor: pointer;

  display: block;

  font-size: 14px;

  overflow: hidden;

  padding: 0 5px;

  position: absolute;

  text-align: left;

  white-space: nowrap;

  width: 86%;

  z-index: -1;

}

.limiter .select-wrapper select {

  border: 0 none;

  float: left;

  padding: 2px 0;

  width: 100%;

}

.limiter .select-wrapper .holder {

  border: 0 none;

  color: #818181;

  cursor: pointer;

  display: block;

  font-size: 14px;

  overflow: hidden;

  padding: 1px 5px 0;

  position: absolute;

  text-align: left;

  white-space: nowrap;

  width: 86%;

  z-index: -1;

}

.top-bar { display:none; }.topbar { display:block; }

.pager .amount {

  color: #414141;

  float: left;

  font-family: "OpensansSemibold",Verdana,Arial,sans-serif;

  font-size: 14px;

  margin: 1px 15px 0 0;

  text-transform: uppercase;

  white-space: nowrap;

}

.pages { padding-top:0; }

.catalog-category-view .page-title h1 {

  border-bottom: 3px solid #56b2e6 !important;

  color: #414141 !important;

  font-family: "OpensansLight",Arial !important;

  font-size: 20px !important;

  font-weight: 400 !important;

  line-height: 1.4 !important;

  padding: 12px 0 0;

  text-transform: uppercase;

}

/*.logo {

  float: left;

  margin: 0;

  padding: 20px 0 0;

  text-align: center;

  width: 100%;

}

.logo a { display:inline-block; margin:0; padding:0; }

.logo a img { max-width:170px; }*/

.top-nav ul {

  float: left;

  list-style: outside none none;

  margin: 0;

  padding: 0;

  text-align: center;

  text-transform: uppercase;

  width: 100%;

}

.top-nav ul li {

  color: #828282;

  display: inline-block;

  font: 13px/18px "OpensansSemibold";

  list-style: outside none none;

  margin: 0;

  padding: 0 2px;

}

.search-box {

  clear: both;

  float: none;

  margin: 0 auto;

  padding: 20px 0 0;

  width: 75%;

  min-width:280px;

}

.banner-section .controls .prev {

  left: 25px;

  /*margin-top: -21px;*/

  position: absolute;

  top: 50%;

}

.banner-section .controls .next {

 /* margin-top: -21px;*/

  position: absolute;

  right: 30px;

  top: 50%;

}

.banner-section .categories {

  margin: 0;

  padding: 10px 0 0;

}

.banner-section .banner-slider ul li img {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.featured_products h2 {

  border-bottom: 3px solid #56b2e6;

  clear: both;

  color: #414141;

  display: block;

  font-family: "OpensansLight",Arial;

  font-size: 20px;

  margin: 0 0 20px;

  padding: 0 0 15px;

  text-transform: uppercase;

  width: 100%;

}

.new_products h2 {

  border-bottom: 3px solid #56b2e6;

  clear: both;

  color: #414141;

  display: block;

  font-family: "OpensansLight",Arial;

  font-size: 20px;

  margin: 0 0 20px;

  padding: 0 0 15px;

  text-transform: uppercase;

  width: 100%;

}

#header-nav .container { padding-left:15px; padding-right:15px; }

/*.navbar-nav { margin: 7.5px 0; }

.navbar-toggle { margin-right: 0; position:relative; width:100%; }

.navbar-default .navbar-nav > li > a { outline:none; color: #777; }

*/.banner-section .banner-slider { margin: 0; padding: 0; }

.footer-top .newsletter .form-subscribe-header { text-align:center; }

.footer-top .block-title {

  border-bottom: 1px solid #1f99de;

  margin-bottom: 15px;

  padding: 0 0 5px;

  text-align:center;

}

.footer-top .connect-withus .social-link {

  float: left;

  margin: 0;

  padding: 0;

  text-align: center;

  width: 100%;

}

.footer-top .connect-withus .footer-logo {

  float: left;

  margin: 0;

  padding: 40px 0 0;

  text-align: center;

  width: 100%;

}

.product-shop .product-sku { text-align:center; }

.old-price, .special-price, .regular-price { text-align:center !important; }

.extra-info {

  float: left;

  max-width: 100% !important;

  text-align: center;

  width: 100% !important;

}

.add-to-cart-wrapper { text-align:center !important; }

.add-to-cart-wrapper .addtobox .add-to-cart {

  display: inline-block !important;

  float: none !important;

  height: 47px !important;

  margin: 0 !important;

  padding: 0 !important;

}

.footer-top .quick-links {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.footer-top .quick-links ul {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

  text-align:center;

}

.footer-top .newsletter {

  float: left;

  margin: 0;

  padding: 25px 0 0;

  width: 100%;

}

.footer-top .connect-withus {

  float: left;

  margin: 0;

  padding: 35px 0 0;

  width: 100%;

}

.footer-bottom .copyright {

  color: #8f8f8f;

  float: left;

  font: 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 0;

  text-align: center;

  width:100%;

}

.footer-bottom .payment_link {

  float: left;

  margin: 0;

  padding: 20px 0 0;

  text-align: center;

  width:100%;

}

.catalog-category-view .categoryblock {

  border-bottom: 3px solid #56b2e6 !important;

  color: #414141 !important;

  font-family: "OpensansLight",Arial !important;

  font-size: 16px !important;

  font-weight: 400 !important;

  line-height: 1.4 !important;

  padding-top: 0 !important;

  text-transform: uppercase;

}

.block-layered-nav .block-content > dl > dt {

  -moz-user-select: none;

  border-bottom: 1px solid #9e9e9e;

  color: #414141;

  display: block;

  font-family: "OpenSansSemibold",Arial;

  font-size: 14px;

  font-style: normal;

  line-height: 1.4;

  margin: 0;

  padding: 7px 10px 7px 24px;

  position: relative;

  text-rendering: optimizespeed;

}

.block-layered-nav .block-content > dl > dt.categoryblock:after {

  border-color: transparent -moz-use-text-color transparent #1f99de;

  border-style: solid none solid solid;

  border-width: 4px medium 4px 4px;

  content: "";

  display: block;

  height: 0;

  position: absolute;

  top: 34%;

  width: 0;

}

.block-layered-nav .block-content.accordion-open > dl > dt.categoryblock.current:after {

  border-color: #3399cc transparent -moz-use-text-color;

  border-left: 4px solid transparent;

  border-right: 4px solid transparent;

  border-style: solid solid none;

  border-width: 4px 4px medium;

  content: "";

  display: block;

  height: 0;

  left: 6px;

  margin-top: -3px;

  position: absolute;

  top: 40%;

  width: 0;

}

.input-text {

  -moz-appearance: none;

  background: none repeat scroll 0 0 #ffffff;

  border: 1px solid silver;

  border-radius: 2px;

  font-size: 14px;

}

.products-list .product-shop {

  float: right;

  padding-left: 20px;

  padding-top: 0;

  width: 66.6667%;

}

.products-list .product-shop .product-secondary {

  float: left;

  width: 100%;

}

.products-list .product-shop .product-primary, .products-list .product-shop .desc {

  float: left;

  padding-right: 20px;

  width: 100%;

}

.product-view .product-shop, .product-img-box, .product-collateral, .product-view .block-related, .box-collateral {

  margin-bottom: 15px;

  overflow: hidden;

  padding: 0;

  width: 100%;

}

.product-view .product-shop, .product-view .add-to-cart-wrapper, .product-view .block-related {

  padding-left: 0;

}

.addtolinks .link-wishlist {

  background: url("../images/wishlist_details.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

  float: left;

  font-size: 0;

  height: 40px !important;

  margin: 0;

  padding: 0;

  width: 40px !important;

}

.addtolinks .link-compare {

  background: url("../images/compare_details.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

  float: left;

  font-size: 0;

  height: 40px !important;

  margin: 0;

  padding: 0;

  width: 40px !important;

}

.short_description {

  color: #7c7c7c !important;

  float: left;

  font-family: "OpenSansRegular",Arial;

  font-size: 14px;

  font-weight: 400;

  line-height: 22px;

  padding-left: 0;

  padding-top:20px;

  width: 100%;

}

.shop-cart .col-left {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.shop-cart .col-right {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.display-single-price .cart-forms, .display-single-price .cart-totals-wrapper, .display-single-price .crosssell {

  width: 100%;

}

#discount-coupon-form .input-text, .cart .giftcard .input-text {

  -moz-border-bottom-colors: none;

  -moz-border-left-colors: none;

  -moz-border-right-colors: none;

  -moz-border-top-colors: none;

  border-color: #ffffff #d4c228 #ffffff #ffffff;

  border-image: none;

  border-radius: 0;

  border-style: solid;

  border-width: 1px;

  float: left;

  height: 34px;

  margin: 0;

  width: 167px;

}

.display-single-price .cart-forms {

  float: left;

  padding-left: 0;

  padding-right: 0;

}

.display-single-price .cart-totals-wrapper, .display-single-price .crosssell {

  padding-left: 0;

}

.display-single-price .cart-table {

  float: none;

  width: 767px;

}

.shop-cart .carttable {

  float: left;

  margin: 0;

  overflow-y: scroll;

  padding: 30px 0 0;

  width: 100%;

}

.short_description { text-align:center !important; }

}

@media (max-width:767px) {

.products-list > li .price-box p.regular-price { text-align:left !important; }

.products-list > li .price-box p.regular-price .price { padding-left:0 !important; }

.products-list > li .list-desc-normal { display:none; }

.products-list > li .list-desc { display:block; padding:15px 0 0 0 !important; }

.account-login {

  border-top: 1px solid #e1e1e1;

  float: left;

  padding: 35px 0 30px;

  text-align: center;

  width: 100%;

}

.account-login .page-title h1 {

  border-bottom: medium none;

  color: #414141;

  font-family: "OpensansSemibold";

  font-size: 18px;

  font-weight: 400;

  margin: 0;

  padding-bottom: 3px;

  text-transform: uppercase;

}

.account-login p {

  font-size:13px;

}

.account-login .col2-set .col-1, .account-login .col2-set .col-2 {

  width:100%;

  border:none;

  padding-left:0;

  padding-right:0;

}

.account-login .col2-set h2 {

  color: #666666;

  font: 16px/20px "OpensansSemibold";

  text-transform: capitalize;

}

.account-login .col2-set .buttons-set {

  margin: 20px 0 0;

  text-align: center;

}

.account-login .col2-set .buttons-set .button {

  margin-right: 10px;

  min-width: inherit !important;

  padding: 8px 22px;

  width: auto;

}

.account-login .col2-set .form-list li label {

  color: #666666;

  float: left;

  font: 14px/18px "OpenSansRegular";

  margin: 0;

  text-align:left;

  padding: 10px 0 5px;

  width: 100%;

}

.account-login .col2-set .form-list li .input-box {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.account-create {

  width:100%;

  float:left;

  border-top:1px solid #e1e1e1;

  padding:15px 0 0 0;

}

.customer-account-login .col2-set p.required {

  display: block;

}

.customer-account-login .col2-set label.blank {

  display:none;

}

.account-login .col2-set .form-list li .input-box .le-socialconnect-social {

  float: left;

  margin-top: 0;

  text-align: center;

  width: 100%;

}

.account-login .col2-set .form-list li .input-box .le-socialconnect-social .login-with {

  display: inline-block;

  float: none;

  margin: 0;

  vertical-align:top;

  padding: 2px 15px 0 0;

  width: auto;

}

.account-login .col2-set .form-list li .input-box .le-socialconnect-social .le-social-button-login {

  display: inline-block;

  float: none;

  margin: 0;

}

.blog-home .post-list {

  margin-left: 0;

  margin-right: 0;

  padding: 15px 0 0;

}

.blog-home .post-list .item {

  display: inline-block;

  list-style: outside none none;

  margin: 0;

  padding: 0;

  vertical-align: top;

  width: 100%;

}

.cms-page-view .page-title h1 {

  text-align:center;	

}

.cms-page-view .std {

  text-align:center;

}



#facacc .question h3 {

  width:94%;

  float:left;

  margin:0;

  padding:0 0 0 10px;

  font: 16px/20px "OpenSansRegular";

  color:#1f99de;

  text-transform:none;

}

#facacc .answer {

  width:100%;

  float:left;

  margin:0;

  padding:15px 0 0 0;

  height:auto !important;

  font: 14px/18px "OpenSansRegular";

  color:#5b5b5b;

}

.customer-account-create .page-title h1 {

  border-bottom: medium none;

  color: #414141;

  font-family: "OpensansSemibold";

  font-size: 20px;

  font-weight: 400;

  margin: 0;

  padding: 25px 0 3px;

  text-align: center;

  text-transform: uppercase;

}

.customer-account-create h2 {

  border: medium none;

  color: #666666;

  font: 18px/24px "OpensansSemibold";

  margin: 0;

  padding: 0;

  text-align: center;

  text-transform: capitalize;

}

.customer-account-create .fieldset {

  border-bottom: 1px solid #d1d1d1;

  float: left;

  margin: 0 !important;

  padding: 20px 0 25px;

  width: 100%;

}

.customer-account-create .fieldset div.field:first-child {

  float: left;

  margin: 0;

  padding: 0 0 17px 0;

  width: 100%;

}

.customer-account-create .fieldset div.field {

  float: right;

  margin: 0;

  padding: 0;

  width: 100%;

}

.customer-account-create .fieldset div.field label {

  color: #666666;

  float: left;

  font: 500 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 7px 0 3px;

  width: 100%;

}

.customer-account-create .fieldset div.field div.input-box {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.customer-account-create .fieldset .wide label {

  color: #666666;

  float: left;

  font: 500 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 7px 0 3px;

  width: 100%;

}

.customer-account-create .fieldset .wide div.input-box {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.customer-account-create .buttons-set {

  background: none repeat scroll 0 0 #ffffff;

  border: medium none;

  float: left;

  margin: -1px 0 0;

  max-width: 100%;

  padding: 0 0 40px;

  text-align: center;

  width: 100%;

}

.customer-account-create .buttons-set .back-link a {

  color: #5b5b5b;

  float: left;

  font-family: "OpensansSemibold",Verdana,Arial,sans-serif;

  font-size: 15px;

  font-weight: 600;

  line-height: 19px;

  margin: 0;

  padding: 7px 14px;

}

.customer-account-create .buttons-set .button {

  background: none repeat scroll 0 0 #1f99de;

  border: 0 none;

  color: #ffffff;

  cursor: pointer;

  display: inline-block;

  float: none;

  font-family: "OpensansSemibold",Verdana,Arial,sans-serif;

  font-size: 15px;

  font-weight: 600;

  line-height: 19px;

  margin: 0 0 0 5px;

  min-width: inherit;

  padding: 7px 14px;

  text-align: center;

  text-transform: uppercase;

  vertical-align: middle;

  white-space: nowrap;

  width: auto;

}

.customer-account-create .buttons-set .required {

  color: #ba1515;

  display: inline-block;

  float: none;

  font-family: "OpenSansRegular",Verdana,Arial,sans-serif;

  font-size: 14px;

  font-weight: 400;

  line-height: 19px;

  margin-left: 5px;

  padding: 7px 0;

  text-align: center;

  text-transform: capitalize;

  vertical-align: middle;

  white-space: nowrap;

}

.contacts-index-index .col-main {

  border-top: 1px solid #e1e1e1;

  float: left;

  margin: 0;

  padding: 25px 0 30px;

  width: 100%;

}

.contacts-index-index .page-title h1 {

  border-bottom: medium none;

  color: #414141;

  font-family: "OpensansSemibold";

  font-size: 18px;

  font-weight: 400;

  margin: 0;

  padding: 10px 0 0;

  text-align:center;

  text-transform: uppercase;

}

.contacts-index-index .cont-col-left {

  float: left;

  margin: 0;

  padding: 20px 0 0 0;

  width: 100%;

  text-align:center;

}

.contacts-index-index .cont-col-right {

  float: right;

  margin: 0;

  padding: 0;

  width: 100%;

}

.contacts-index-index .form-list li {

  float: left;

  margin: 0;

  padding: 0 0 10px;

  width: 100%;

}

.contacts-index-index .form-list li label {

  color: #666666;

  float: left;

  font: 500 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 7px 0 3px;

  width: 100%;

}

.contacts-index-index .form-list li div.input-box {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.contacts-index-index .cont-col-right .buttons-set {

  border: 0 none;

  margin-left: 0;

  max-width: 100%;

  padding: 5px 0 0;

  text-align: center;

}

.wordpress-post-view .featured-image {

  border: medium none;

  float: left;

  margin: 0;

  padding: 0 0 10px;

  width: 100%;

}

.wordpress-post-view .post-view h2 {

  color: #1f99de;

  font: 500 18px/24px "LatoRegular";

  margin: 0;

  padding: 0;

  text-align: center;

  text-decoration: none;

  text-transform: none;

  clear:both;

}

.wordpress-post-view .post-view .post-date {

  clear: both;

  color: #9e9e9e;

  font: 14px/18px "OpenSansItalic";

  padding: 7px 0 0;

  text-align: center;

}

.wordpress-post-view .post-view .post-entry { 

  text-align:center; 

}

.wordpress-post-view .post-title h1 {

  border-bottom: medium none;

  color: #414141;

  font-family: "OpensansSemibold";

  font-size: 22px;

  font-weight: 400;

  margin: 0;

  padding: 10px 0 20px;

  text-align: center;

  text-transform: uppercase;

}

.wordpress-post-view .legend {

  color: #414141;

  font-family: "OpensansSemibold";

  font-size: 18px;

  font-weight: 400;

  text-align: center;

}

.wordpress-post-view .buttons-set {

  border: medium none;

  padding: 0 0 40px;

  text-align: center;

}

}

@media (min-width:768px) and (max-width:979px) {

.customer-account-create .fieldset div.field:first-child {

  float: left;

  margin: 0;

  padding: 0;

  width: 46%;

}

.customer-account-create .fieldset div.field {

  float: right;

  margin: 0;

  padding: 0;

  width: 46%;

}

.customer-account-create .fieldset div.field label {

  color: #666666;

  float: left;

  font: 500 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 7px 0 0;

  width: 42%;

}

.customer-account-create .fieldset div.field div.input-box {

  float: left;

  margin: 0;

  padding: 0;

  width: 58%;

}

.customer-account-create .fieldset .wide label {

  color: #666666;

  float: left;

  font: 500 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 7px 0 0;

  width: 19%;

}

.customer-account-create .fieldset .wide div.input-box {

  float: left;

  margin: 0;

  padding: 0;

  width: 81%;

}	

}

@media (min-width:768px) and (max-width:992px) {

#nav .container { padding-left:0; padding-right:0; width:100%; }

/*.navbar-toggle { display: block; }

.navbar-nav { margin: 7.5px 0; }

.navbar-toggle { margin-right: 0; }

.navbar-default .navbar-nav > li > a { outline:none; color: #777; }

.navbar-header { float: none; }

.nav > li { width:100%; display: block; position: relative; }*/

.banner-section .banner-slider { margin: 0; padding: 0; overflow:hidden; }

.banner-section .categories .cate-list:first-child { float: left; margin: 7px 0 0 0; padding: 0; position: relative; width: 33.3333%; }

.banner-section .categories .cate-list { float: left; margin: 7px 0 0 1px; padding: 0; position: relative; width: 33.1111%; }

.banner-section .categories .cate-list .cate-details .col-1-new div span { color: #ffffff; float: left; font: 30px/40px "LatoBlack"; text-align: center; width: 100%; }

.banner-section .categories .cate-list .cate-details .col-1-new div img { float: right; margin: 0 14% -8px 0; width: 60px; }

.banner-section .categories .cate-list .cate-details .col-2 { color: #ffffff; float: left; font: 15px/18px "LatoBold"; margin: 0; padding: 0; width: 100%; }

.banner-section .categories .cate-list .cate-details .col-3 span { color: #ffffff; font: 30px/40px "LatoBlack"; }

.banner-section .categories .cate-list .cate-details .col-3 { color: #ffffff; float: left; font: 20px/25px "LatoLight"; margin: 0; padding: 0; width: 100%; }

.banner-section .categories .cate-list .cate-details .col-1-bestdeal img { display: inline-block; width: 75px; }

.banner-section .categories .cate-list .cate-details .col-1 span { color: #ffffff; display: inline-block; font: 30px/40px "LatoBlack"; }

.banner-section .categories .cate-list .cate-details .col-1 { color: #ffffff; float: left; font: 30px/40px "LatoLight"; margin: 0; padding: 0; width: 100%; }

.banner-section .banner-slider ul li img { float: left; margin: 0; min-height: 300px; padding: 0; width: 100%; }

.banner-section .categories .cate-list a { clear: both; display: block; margin: 0; outline: medium none; overflow: hidden; padding: 12px; text-align: center; text-transform: uppercase; }

.banner-section .categories .cate-list .red { padding: 10px 0; }

.banner-section .categories .cate-list .orange { padding: 18px 0 17px 0; }

.banner-section .categories .cate-list .sale { padding: 24px 0 23px 0; }

.top-bar { display:none; }.topbar { display:block; }

.footer-top .quick-links { float: left; margin: 0; padding: 0; text-align: left; width: 100%; }

.footer-top .block-title { padding:0 0 5px 0; margin-bottom:15px; border-bottom:1px solid #1f99de; }

.footer-top .newsletter { float: left; margin: 0; padding: 25px 0 0 0; width: 100%; }

.footer-top .newsletter input.input-text { width:85%; }

.footer-top .newsletter button.button { width: 15%; }

.footer-top .connect-withus { float: left; margin: 0; padding: 35px 0 0 0; width: 100%; }

.footer-top .connect-withus .social-link { float: left; margin: 0; padding: 27px 0 0; width: 30%; }

.footer-top .connect-withus .footer-logo { float: left; margin: 0; padding: 0; width: 70%; }

.footer-bottom .copyright { color: #8f8f8f; float: left; font: 14px/18px "OpenSansRegular"; margin: 0; padding: 0; text-align: center; width: 100%; }

.footer-bottom .payment_link { float: left; margin: 0; padding: 15px 0 0; text-align: center; width: 100%; }

.footer-bottom { border-top: 1px solid #d5d5d5; float: left; margin: 0; padding: 20px 0; width: 100%; }

.products-list .product-shop .product-primary, .products-list .product-shop .desc {

  float: left;

  padding-right: 0;

  width: 100%;

}

.products-list .product-shop .product-secondary {

  float: left;

  width: 100%;

}

/*.navbar-toggle {

  display: block;

  width: 100%;

}*/

.shop-cart .col-left {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.shop-cart .col-right {

  float: left;

  margin: 0;

  padding: 0;

  width: 100%;

}

.display-single-price .cart-forms, .display-single-price .cart-totals-wrapper, .display-single-price .crosssell {

  width: 100%;

}

#discount-coupon-form .input-text, .cart .giftcard .input-text {

  -moz-border-bottom-colors: none;

  -moz-border-left-colors: none;

  -moz-border-right-colors: none;

  -moz-border-top-colors: none;

  border-color: #ffffff #d4c228 #ffffff #ffffff;

  border-image: none;

  border-radius: 0;

  border-style: solid;

  border-width: 1px;

  float: left;

  height: 34px;

  margin: 0;

  width: 300px;

}

.display-single-price .cart-forms {

  float: left;

  padding-left: 0;

  padding-right: 0;

}

.display-single-price .cart-totals-wrapper, .display-single-price .crosssell {

  padding-left: 0;

}

.contacts-index-index .cont-col-left {

  float: left;

  margin: 0;

  padding: 0;

  width: 43%;

}

.contacts-index-index .cont-col-right {

  float: right;

  margin: 0;

  padding: 0;

  width: 50%;

}

}

@media only screen and (min-width: 768px) and (max-width: 799px) {

/*.logo a img {

  max-width: 100%;

  width: 100%;

}*/

.top-nav ul {

  float: left;

  list-style: outside none none;

  margin: 0;

  padding: 0;

  text-align: right;

  text-transform: uppercase;

  width: 100%;

}

.search-box {

  clear: both;

  float: right;

  margin: 0;

  min-width: 280px;

  padding: 20px 0 0;

  width: 75%;

}

.page-header .col-sm-8 {

  clear: inherit;

}

.customer-account-login .col2-set .col-2 {

  border-left: 1px solid #fff;

  padding-left: 20px;

}

.account-login .col2-set .buttons-set .button {

  font-size: 14px;

  margin-right: 10px;

  min-width: inherit !important;

  padding: 6px 12px;

  width:auto;

}

.customer-account-login .col2-set p.required {

  display: block;

}

.account-login {

  border-top: 1px solid #e1e1e1;

  float: left;

  padding: 45px 0 30px;

  width: 100%;

}

.blog-home .post-list {

  margin-left: -8px;

  margin-right: -15px;

  padding: 15px 0 0;

}

.blog-home .post-list .item {

  display: inline-block;

  list-style: outside none none;

  margin: 0 10px;

  padding: 0;

  vertical-align: top;

  width: 30%;

}

.blog-home .post-list .item .post-list-item .post-entry h2 {

  color: #1f99de;

  font: 500 18px/24px "LatoRegular";

  margin: 15px 0 0;

  padding: 0;

  text-transform: none;

}

.blog-home .post-list .item .post-list-item .post-entry h2 {

  color: #1f99de;

  font: 500 17px/23px "LatoRegular";

  margin: 15px 0 0;

  padding: 0;

  text-transform: none;

}

.blog-home .post-list .item .post-list-item .post-entry h2 a {

  color: #1f99de;

  font: 500 17px/23px "LatoRegular";

  text-decoration: none;

  text-transform: none;

}

}

@media only screen and (min-width: 800px) and (max-width: 991px) {

#nav .container {

  padding-left: 15px;

  padding-right: 15px;

  width: 100%;

}

.customer-account-login .col2-set .col-2 {

  border-left: 1px solid #fff;

  padding-left: 20px;

}

.account-login .col2-set .buttons-set .button {

  font-size: 14px;

  margin-right: 10px;

  min-width: inherit !important;

  padding: 6px 12px;

}

}

@media only screen and (min-width: 800px) and (max-width: 979px) {

.blog-home .post-list {

  margin-left: -10px;

  margin-right: -10px;

  padding: 15px 0 0;

}

.blog-home .post-list .item {

  display: inline-block;

  list-style: outside none none;

  margin: 0 10px;

  padding: 0;

  vertical-align: top;

  width: 30%;

}

.blog-home .post-list .item .post-list-item .post-entry h2 {

  color: #1f99de;

  font: 500 17px/23px "LatoRegular";

  margin: 20px 0 0;

  padding: 0;

  text-transform: none;

}

.blog-home .post-list .item .post-list-item .post-entry h2 a {

  color: #1f99de;

  font: 500 17px/23px "LatoRegular";

  text-decoration: none;

  text-transform: none;

}

}

@media (min-width:980px) and (max-width:991px) {

.container {

  width: 900px !important;

}

.blog-home .post-list {

  margin-left: -10px;

  margin-right: -10px;

  padding: 15px 0 0;

}

.blog-home .post-list .item {

  display: inline-block;

  list-style: outside none none;

  margin: 0 13px;

  padding: 0;

  vertical-align: top;

  width: 30%;

}

.blog-home .post-list .item .post-list-item .post-entry h2 {

  color: #1f99de;

  font: 500 17px/23px "LatoRegular";

  margin: 20px 0 0;

  padding: 0;

  text-transform: none;

}

.blog-home .post-list .item .post-list-item .post-entry h2 a {

  color: #1f99de;

  font: 500 17px/23px "LatoRegular";

  text-decoration: none;

  text-transform: none;

}

}

@media (min-width:980px) and (max-width:1199px) {

.customer-account-create .fieldset div.field:first-child {

  float: left;

  margin: 0;

  padding: 0;

  width: 46%;

}

.customer-account-create .fieldset div.field {

  float: right;

  margin: 0;

  padding: 0;

  width: 46%;

}

.customer-account-create .fieldset div.field label {

  color: #666666;

  float: left;

  font: 500 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 7px 0 0;

  width: 36%;

}

.customer-account-create .fieldset div.field div.input-box {

  float: left;

  margin: 0;

  padding: 0;

  width: 64%;

}

.customer-account-create .fieldset .wide label {

  color: #666666;

  float: left;

  font: 500 14px/18px "OpenSansRegular";

  margin: 0;

  padding: 7px 0 0;

  width: 16.5%;

}

.customer-account-create .fieldset .wide div.input-box {

  float: left;

  margin: 0;

  padding: 0;

  width: 83.5%;

}	

}

@media (min-width:992px) and (max-width:1199px) {

/*.nav-primary a.level0 { padding: 0 3px 0 14px; }

.nav-primary a { font-size:13px; }*/

#discount-coupon-form .input-text, .cart .giftcard .input-text {

  -moz-border-bottom-colors: none;

  -moz-border-left-colors: none;

  -moz-border-right-colors: none;

  -moz-border-top-colors: none;

  border-color: #ffffff #d4c228 #ffffff #ffffff;

  border-image: none;

  border-radius: 0;

  border-style: solid;

  border-width: 1px;

  float: left;

  height: 34px;

  margin: 0;

  width: 140px;

}

.opc-wrapper-opc .opc-col-center {

  float: left;

  margin-left: 20px !important;

  margin-right: 20px !important;

  width: 30%;

}

.products-list > li .price-box p.regular-price .price {

  padding-left: 0 !important;

}

.products-list .product-shop .product-primary, .products-list .product-shop .desc {

  float: left;

  padding-right: 0;

  width: 100%;

}

#main-menu {
  position: relative;
  z-index: 1000;
  width: auto;
}

.products-list .product-shop .product-secondary {

  float: left;

  width: 100%;

}

.products-list .product-shop .product-secondary {

  float: left;

  width: 100%;

}

.products-list .product-shop .product-primary, .products-list .product-shop .desc {

  float: left;

  padding-right: 0;

  width: 100%;

}

.blog-home .post-list {

  margin-left: -11px;

  margin-right: -18px;

  padding: 15px 0 0;

}

.blog-home .post-list .item {

  display: inline-block;

  list-style: outside none none;

  margin: 0 13px;

  padding: 0;

  vertical-align: top;

  width: 30%;

}

.blog-home .post-list .item .post-list-item .post-entry h2 {

  color: #1f99de;

  font: 500 17px/23px "LatoRegular";

  margin: 20px 0 0;

  padding: 0;

  text-transform: none;

}

.blog-home .post-list .item .post-list-item .post-entry h2 a {

  color: #1f99de;

  font: 500 17px/23px "LatoRegular";

  text-decoration: none;

  text-transform: none;

}

}

@media (min-width:1200px) {

.products-list > li .price-box p.regular-price .price {

  padding-left: 0 !important;

}

.products-list .product-shop .product-primary, .products-list .product-shop .desc {

  float: left;

  padding-right: 0;

  width: 100%;

}

.products-list .product-shop .product-secondary {

  float: left;

  width: 100%;

}

.products-list .product-shop .product-secondary {

  float: left;

  width: 100%;

}

.products-list .product-shop .product-primary, .products-list .product-shop .desc {

  float: left;

  padding-right: 0;

  width: 100%;

}	

}



.customer-account-create .fieldset div.field label,.customer-account-create .fieldset div.field label.newsletter{

	font:500 14px/18px "Open Sans",Arial,Helvetica;	

}

.customer-account-create .page-title h1,.customer-account-create .buttons-set .button,.customer-account-create .buttons-set .back-link a{

	font-family:"Open Sans",Arial,Helvetica;	

}

