<?php
/**
 * MageCore
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is published at http://opensource.org/licenses/osl-3.0.php.
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magecore.com so we can send you a copy immediately
 *
 * @category   MageCore
 * @package    Dashboard
 * @copyright  Copyright (c) 2015 MageCore Inc. (http://www.magecore.com)
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */

/**
 * @var $this Oro_Dashboard_Block_Adminhtml_Userdashboard_Widget_Timeline
 */
 ?>
<?php $metrics = Mage::helper("oro_dashboard")->getMetrics()?>
<div class="row">
    <label for="timeline-add-metric"><?php echo $this->__("Show the following metric:")?></label>
    <select name="metric" id="timeline-add-metric" class="required-entry">
        <?php foreach ($metrics as $code=>$metric) {?>
            <option value="<?php echo $code;?>" <?php if ($this->getMetric() == $code){?>selected="selected"<?php }?>><?php echo $this->__($metric['label']);?></option>
        <?php }?>
    </select>
</div>
<div class="row">
    <label for="timeline-metric-compare"><?php echo $this->__("Compare with the following metric:")?></label>
    <select name="metric_compare" id="timeline-metric-compare">
        <option value=""><?php echo $this->__("Please Choose")?></option>
        <?php foreach ($metrics as $code=>$metric) {?>
        <option value="<?php echo $code;?>" <?php if ($this->getMetricCompare() == $code){?>selected="selected"<?php }?>><?php echo $this->__($metric['label']);?></option>
        <?php }?>
    </select>
</div>
<div class="row">
    <label for="timeline-widget-title"><?php echo $this->__("Widget title:")?></label>
    <input type="text" id="timeline-widget-title" name="name" value="<?php echo $this->getWidgetName();?>" class="required-entry widget-title" />
</div>