<?php
/**
 * MageCore
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is published at http://opensource.org/licenses/osl-3.0.php.
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magecore.com so we can send you a copy immediately
 *
 * @category   MageCore
 * @package    Dashboard
 * @copyright  Copyright (c) 2015 MageCore Inc. (http://www.magecore.com)
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
?>
<?php if(Mage::helper('oro_dashboard')->canUsePartitions() && !Mage::helper('oro_dashboard')->isPartitionsAvailable()):?>
<div class="notification-global">
    <strong><?php echo $this->helper('oro_dashboard')->__('Magecore Dashboard:') ?></strong>
    <?php echo $this->helper('oro_dashboard')->__('MySQL server has no partitioning feature. Please set "Use MySql Partitioning" to No in <a href="%s">dashboard options</a>.', $this->getManageUrl());?>
</div>
<?php endif;?>
