<div id="block_notice_common_listing_search_help" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Search Items'); ?>">
    <?php echo Mage::helper('M2ePro')->__('
        This Page shows all <strong>Products</strong> of M2E Pro Listings and 3rd Party Listing.<br/><br/>
        Use the Filters to find the Product you want to manage. Clicking the Arrows Icon in the Manage Column will take you to the M2E Pro Listing\'s Products Page.
    '); ?>
</div>