<div id="block_notice_configuration_logs_clearing" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Logs Clearing'); ?>">
    <?php echo Mage::helper('M2ePro')->__(
        'Set preferences for automatic clearing of Log data then click <b>Save Config</b>.<br/><br/>
        To clear a Log completely, click <b>Clear All</b>. To clear a Log of data more than a certain number of days old, choose the number of days then click <b>Run Now</b>.'
    ); ?>
</div>

<script type="text/javascript">

    // General for all tabs
    //-----------------------------
    M2ePro.url.add(<?php echo json_encode(Mage::helper('M2ePro')->getControllerActions('adminhtml_configuration_logsClearing')) ?>);

    M2ePro.url.add(<?php echo json_encode(array(
        'formSubmit' => $this->getUrl('M2ePro/adminhtml_configuration_logsClearing/save')
    )); ?>);

    M2ePro.translator.add(<?php echo json_encode(array(
        'Please enter a valid value greater than 14 days.' => Mage::helper('M2ePro')->__('Please enter a valid value greater than 14 days.')
    )); ?>);

    Event.observe(window, 'load', function() {
        LogClearingHandlerObj = new ConfigurationLogClearingHandler();

        LogClearingHandlerObj.changeModeLog('<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>');
        LogClearingHandlerObj.changeModeLog('<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>');
        LogClearingHandlerObj.changeModeLog('<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>');
        LogClearingHandlerObj.changeModeLog('<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>');

        ControlPanelHandlerObj = new DevelopmentControlPanelHandler();

        configEditForm = new varienForm('config_edit_form', '<?php echo $this->getValidationUrl(); ?>');
    });
    //-----------------------------

</script>

<style>
    .columns .form-list td.value {
        width: 280px;
    }

    .columns .form-list td:nth-child(3) {
        width: 16px;
    }

    .columns .form-list td:nth-child(4) {
        width: 90px;
    }
</style>

<form id="<?php echo $this->getForm()->getId(); ?>" action="<?php echo $this->getForm()->getData('action'); ?>" method="post" enctype="multipart/form-data">

    <input name="form_key" value="<?php echo $this->getFormKey(); ?>" type="hidden" />

    <div class="entry-edit" id="magento_block_configuration_logs_clearing_listings">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Listings Log Clearing'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <colgroup class="label"></colgroup>
                    <colgroup class="value"></colgroup>

                    <tbody>

                    <tr id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_mode_container">
                        <td class="label">
                            <label for="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_mode"><?php echo Mage::helper('M2ePro')->__('Enabled'); ?>: </label>
                        </td>
                        <td class="value">
                            <?php $mode = isset($this->modes[Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS]) ? $this->modes[Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS] : 1; ?>
                            <select id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_mode" name="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_mode" onchange="LogClearingHandlerObj.changeModeLog('<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>');">
                                <option value="0"<?php if ($mode == 0) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1"<?php if ($mode == 1) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Enables automatic clearing of Log data. Can help reduce Database size.'); ?></span>
                            </p>
                        </td>
                        <td id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_button_run_now_container" class="value">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <?php echo $this->getChildHtml('run_now_'.Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS); ?>
                        </td>
                        <td id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_button_clear_all_container" class="value">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <?php echo $this->getChildHtml('clear_all_'.Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS); ?>
                        </td>
                    </tr>

                    <tr id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_days_container">
                        <td class="label">
                            <label for="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_days"><?php echo Mage::helper('M2ePro')->__('Keep For (days)'); ?>: <span class="required">*</span></label>
                        </td>
                        <td class="value">
                            <input id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_days" name="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS; ?>_log_days" value="<?php echo $this->days[Ess_M2ePro_Model_Log_Clearing::LOG_LISTINGS]; ?>" type="text" class="M2ePro-required-when-visible M2ePro-logs-clearing-interval input-text" />
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Specify for how long you want to keep Log data before it is automatically cleared.'); ?></span>
                            </p>
                        </td>
                        <td colspan="2">

                        </td>
                    </tr>

                    </tbody>

                </table>

            </div>
        </div>

    </div>

    <div class="entry-edit" id="magento_block_configuration_logs_clearing_listings_other">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('3rd Party Listings Log Clearing'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <colgroup class="label"></colgroup>
                    <colgroup class="value"></colgroup>

                    <tbody>

                    <tr id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_mode_container">
                        <td class="label">
                            <label for="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_mode"><?php echo Mage::helper('M2ePro')->__('Enabled'); ?>: </label>
                        </td>
                        <td class="value">
                            <?php $mode = isset($this->modes[Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS]) ? $this->modes[Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS] : 1; ?>
                            <select id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_mode" name="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_mode" onchange="LogClearingHandlerObj.changeModeLog('<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>');">
                                <option value="0"<?php if (0 == $mode) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1"<?php if (1 == $mode) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Enables automatic clearing of Log data. Can help reduce Database size.'); ?></span>
                            </p>
                        </td>
                        <td id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_button_run_now_container" class="value">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <?php echo $this->getChildHtml('run_now_'.Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS); ?>
                        </td>
                        <td id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_button_clear_all_container" class="value">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <?php echo $this->getChildHtml('clear_all_'.Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS); ?>
                        </td>
                    </tr>

                    <tr id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_days_container">
                        <td class="label">
                            <label for="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_days"><?php echo Mage::helper('M2ePro')->__('Keep For (days)'); ?>: <span class="required">*</span></label>
                        </td>
                        <td class="value">
                            <input id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_days" name="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS; ?>_log_days" value="<?php echo $this->days[Ess_M2ePro_Model_Log_Clearing::LOG_OTHER_LISTINGS]; ?>" type="text" class="M2ePro-required-when-visible M2ePro-logs-clearing-interval input-text" />
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Specify for how long you want to keep Log data before it is automatically cleared.'); ?></span>
                            </p>
                        </td>
                        <td colspan="2">

                        </td>
                    </tr>

                    </tbody>

                </table>

            </div>
        </div>

    </div>

    <div class="entry-edit" id="magento_block_configuration_logs_clearing_synch">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Synchronization Log Clearing'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <colgroup class="label"></colgroup>
                    <colgroup class="value"></colgroup>

                    <tbody>

                    <tr id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_mode_container">
                        <td class="label">
                            <label for="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_mode"><?php echo Mage::helper('M2ePro')->__('Enabled'); ?>: </label>
                        </td>
                        <td class="value">
                            <?php $mode = isset($this->modes[Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS]) ? $this->modes[Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS] : 1; ?>
                            <select id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_mode" name="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_mode" onchange="LogClearingHandlerObj.changeModeLog('<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>');">
                                <option value="0"<?php if (0 == $mode) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1"<?php if (1 == $mode) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Enables automatic clearing of Log data. Can help reduce Database size.'); ?></span>
                            </p>
                        </td>
                        <td id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_button_run_now_container" class="value">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <?php echo $this->getChildHtml('run_now_'.Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS); ?>
                        </td>
                        <td id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_button_clear_all_container" class="value">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <?php echo $this->getChildHtml('clear_all_'.Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS); ?>
                        </td>
                    </tr>

                    <tr id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_days_container">
                        <td class="label">
                            <label for="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_days"><?php echo Mage::helper('M2ePro')->__('Keep For (days)'); ?>: <span class="required">*</span></label>
                        </td>
                        <td class="value">
                            <input id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_days" name="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS; ?>_log_days" value="<?php echo $this->days[Ess_M2ePro_Model_Log_Clearing::LOG_SYNCHRONIZATIONS]; ?>" type="text" class="M2ePro-required-when-visible M2ePro-logs-clearing-interval input-text" />
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Specify for how long you want to keep Log data before it is automatically cleared.'); ?></span>
                            </p>
                        </td>
                        <td colspan="2">

                        </td>
                    </tr>

                    </tbody>

                </table>

            </div>
        </div>

    </div>

    <div class="entry-edit" id="magento_block_logs_configuration_clearing_orders">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Orders Log Clearing'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <colgroup class="label"></colgroup>
                    <colgroup class="value"></colgroup>

                    <tbody>

                    <tr id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_mode_container">
                        <td class="label">
                            <label for="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_mode"><?php echo Mage::helper('M2ePro')->__('Enabled'); ?>: </label>
                        </td>
                        <td class="value">
                            <?php $mode = isset($this->modes[Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS]) ? $this->modes[Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS] : 1; ?>
                            <select id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_mode" name="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_mode" onchange="LogClearingHandlerObj.changeModeLog('<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>');">
                                <option value="0"<?php if (0 == $mode) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1"<?php if (1 == $mode) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Enables automatic clearing of Log data. Can help reduce Database size.'); ?></span>
                            </p>
                        </td>
                        <td id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_button_run_now_container" class="value">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <?php echo $this->getChildHtml('run_now_'.Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS); ?>
                        </td>
                        <td id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_button_clear_all_container" class="value">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <?php echo $this->getChildHtml('clear_all_'.Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS); ?>
                        </td>
                    </tr>

                    <tr id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_days_container">
                        <td class="label">
                            <label for="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_days"><?php echo Mage::helper('M2ePro')->__('Keep For (days)'); ?>: <span class="required">*</span></label>
                        </td>
                        <td class="value">
                            <input id="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_days" name="<?php echo Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS; ?>_log_days" value="<?php echo $this->days[Ess_M2ePro_Model_Log_Clearing::LOG_ORDERS]; ?>" type="text" disabled="disabled" class="M2ePro-required-when-visible M2ePro-logs-clearing-interval input-text" />
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Specify for how long you want to keep Log data before it is automatically cleared.'); ?></span>
                            </p>
                        </td>
                        <td colspan="2">

                        </td>
                    </tr>

                    </tbody>

                </table>

            </div>
        </div>

    </div>

</form>