<?php
$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collection->addFieldToFilter('is_featured', '1')->addAttributeToFilter('status', array('eq' => 1));
//echo $collection->count();
if($collection->count()>0){
?>
<!--Featured Products-->
    <div class="featured-products text-center">
    	<h2 class="text-center text-uppercase"><span><?php echo $this->__('Our Featured Products')?></span></h2>
        <div class="row">
             <div id="loading" class="please-wait" style="display: none;">
                    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
                </div> 
            <div class="featuredslider" >
            <?php
            foreach ($collection as $product)
            {
                $_product = Mage::getModel('catalog/product')->load($product->getId());
                ?>
            
            <div class="col-md-15 col-sm-3">
            	
                    <div class="featured-thumb">
                        <a href="<?php echo $_product->getProductUrl() ?>">
                            <img class="pimage" src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(210,190);?>" alt="<?php echo $_product->getName() ?>"/>
                           
                            </a>
                        
                    </div>
                <div class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getName() ?></a></div>
               
                <div class="price"><?php echo Mage::helper('core')->currency($_product->getPrice()) ?></div>
                <button class="btn text-uppercase btn-block addtocart" pid="<?php echo $_product->getId(); ?>" url="<?php echo $this->getAddToCartUrl($_product) ?>"><?php echo $this->__('Add to Cart') ?></button>
            </div>
            
        <?php } ?>
            </div>
            
        </div>
    </div>
    <!--// Featured Products-->
    
    <?php }?>