<!--Main Product-->
    <div class="main-product">
        <div class="row">
<?php
/*
$collection = Mage::getModel('catalog/category')->getCollection();
$collection->addAttributeToSelect('*');
$collection->addAttributeToFilter('is_active', 1);

$collection->setPageSize(3);
$collection->getSelect()->order('rand()');
foreach($collection as $cat){
    echo $cat->getName();
    echo $cat->getImageUrl();
    if($cat->getThumbnail()){ 
    $image= $cat->getThumbnail();
     echo $url = Mage::getBaseUrl('media').'catalog/category/'.$image;
    }
    
}*/

$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collection->addAttributeToFilter('status', array('eq' => 1));
$collection->getSelect()->order('RAND()');
$collection->getSelect()->limit(3);
//echo $collection->getSelect()->__toSting();
//echo $collection->count();
if($collection->count()>0){
?> 
            
           <?php foreach($collection as $_product){ 
                $product = Mage::getModel('catalog/product')->load($_product->getId());
               $categoryIds = $_product->getCategoryIds();

        if(count($categoryIds) ){
            $firstCategoryId = $categoryIds[1];
            $_category = Mage::getModel('catalog/category')->load($firstCategoryId);

            $catname=$_category->getName();
        }
        
               ?> 
            <div class="col-xs-12 col-sm-4">
            	<a href="<?php echo $_product->getProductUrl() ?>">
                    <figure class="product-block imgfit">
                        
                        <a href="<?php echo $product->getProductUrl() ?>">
                            <img src="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(307,250);?>" alt="<?php echo $product->getName() ?>" width="307" height="250"/>
                           
                            </a>
                        
                        
                        <figcaption>
                            <h2><?php echo substr($product->getName(),0,20) ?></h2>
                            <p class="description"><?php echo $catname?></p>
                        </figcaption>			
                    </figure>
                </a>
            </div>
           <?php }} ?>
        </div>
    </div>
    <!--// Main Product-->